<!-- Start: Grid#content.contest 1 -->
<div class="grid_16 contest profile">
  <p class="location"><%= I18n.t("users.profile.edit.breadcrumb", { defaultValue: "» Profile » Edit profile » " }) %> <%= first_name %> <%= last_name %></p>
</div>
<div class="clear"></div>
<!-- End: Grid#contest.contest 1 -->

<form id="edit-user" name="post">

  <!-- Start: Grid#content.contest 2 -->
  <div class="grid_10 contest profile">
    <ol>
      <li>
        <label for="user_first_name"><strong><%= I18n.t("users.profile.form.name", { defaultValue: "Name" }) %></strong></label>
        <input id="user_first_name" type="text" name="user[first_name]" value="<%= first_name %>" />
      </li>
      <li>
        <label for="user_last_name"><strong><%= I18n.t("users.profile.form.surname", { defaultValue: "Surname" }) %></strong></label>
        <input id="user_last_name" type="text" name="user[last_name]" value="<%= last_name %>" />
      </li>
      <li>
        <label for="user_phone"><%= I18n.t("users.profile.form.phone", { defaultValue: "Phone" }) %></label>
        <input id="user_phone" type="text" name="user[phone]" value="<%= phone %>" />
      </li>
      <li>
        <label for="user_email"><%= I18n.t("users.profile.form.email", { defaultValue: "Email" }) %></label>
        <input id="user_email" type="text" name="user[email]" value="<%= email %>" />
      </li>
      <li>
        <label for="user_website"><%= I18n.t("users.profile.form.website", { defaultValue: "Website" }) %></label>
        <input id="user_website" type="text" name="user[website]" value="<%= website %>" />
      </li>
      <% if (AppUtils.isFacebookApp) { %>
        <li>
          <input id="user_work_tag" type="checkbox" name="user[work_tag]" />
          <label for="user_work_tag"><strong><%= I18n.t("users.profile.form.job", { defaultValue: "Searching for job" }) %></strong></label>
        </li>
        <li class="languages_title">
          <%= I18n.t("user.profiles.languages.title") %>
        </li>
        <li>
          <input class="language_cb" id="user_english_cb" type="checkbox" name="user[user_language][english]" />
          <label for="user_user_language_latvian"><strong><%= I18n.t("users.profile.languages.english", { defaultValue: "English" }) %></strong></label>
        </li>
        <li>
          <input class="language_cb" id="user_latvian_cb" type="checkbox" name="user[user_language][latvian]" />
          <label for="user_user_language_latvian"><strong><%= I18n.t("users.profile.languages.latvian", { defaultValue: "Latvian" }) %></strong></label>
        </li>
      <% } %>
      <li>
        <label for="user_about"><%= I18n.t("users.profile.form.about_me", { defaultValue: "About me" }) %></label>
        <textarea id="user_about" name="user[about]"><%= about %></textarea>
      </li>
    </ol>
  </div>
  <div class="grid_6 contest profile">
    <div class="photo"><img class="photo" src="<%= image_url %>" width="125" alt="<%= first_name %> <%= last_name %>" /></div>
    <div id="user-profile-image" >
      <input type="file" name="user[image]" id="image" /> 
    </div>
    <ul class="social">

    </ul>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content.contest 2 -->

  <!-- Start: Grid#content.contest 1 -->
  <div class="grid_8 push_4 contest profile">
    <input class="button_1 green" type="submit" value="<%= I18n.t("users.profile.form.save", { defaultValue: "Save" }) %>" />
  </div>
  <div class="clear"></div>
  <!-- End: Grid#contest.contest 1 -->

</form>
