<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_5">
      <div class="profile_edit_image"></div>
    </div>
    <div class="grid_11">
      <!-- <p class="left">Lai nomainītu sava profila fotogrāfiju <strong>Ideju Akadēmijā</strong>, izvēlies bildi no sava datora. Bildē jābut redzamam Tev!</p> -->
      <h1 class="left"><%= I18n.t("users.profile.picture_popup.change_picture", { defaultValue: "Change picture" }) %></h1>
      <p class="left">
        <!-- <%= I18n.t("users.profile.picture_popup.not_possible", { defaultValue: "Sorry, it is not possible to change your picture right now by uploading a picture. If you want to change your profile picture, change it in social network un it will be changed here, too (after next authorization)" }) %> -->
      </p>
    </div>
    <div class="clear"></div>

  </div>
</div>
