<!-- Start: div#footer.body_container_35 -->
<div id="footer">
  <div class="body_container_35">
    <div class="grid_30">
      <ul class="left">
        <li>
          <a class="dropbox" href="#contests"><strong>Konkursi</strong></a>
          <div id="contests" class="box">
            <h1>Konkursi</h1>
            <p><a href="/contest">Kāds izskatās aktīvais konkurss?</a>&nbsp;|&nbsp;Mūzika</p>
            <p><a href="/results">Kāds izskatās noslēdzies konkurss?</a>&nbsp;|&nbsp;PR</p>
            <p><a href="/">Kāds izskatās aktīvais konkurss, kur lietotājs nav autorizējies?</a>&nbsp;|&nbsp;Internets</p>
            <p><a href="/profile">Kā izskatās lietotāja profils?</a>&nbsp;|&nbsp;Māksla</p>
          </div>
        </li>
        <li class="seperate"><a href="/statistics">Statistika</a></li>
      </ul>
    </div>
    <div class="grid_5">
      <ul class="right">
        <li>
          <a class="dropbox" rel="right" href="#updates">Jaunumi (3)</a>
          <div id="updates" class="box">
            <h1>Jaunumi</h1>
            <p><span>Jānim patika tava ideja <strong>+2</strong></span>&nbsp;|&nbsp;Internets</p>
            <p><span>Mikam patika tava ideja <strong>+2</strong></span>&nbsp;|&nbsp;PR</p>
            <p class="contest"><span><strong>Jauns konkurss</strong></span>&nbsp;|&nbsp;Internets</p>
            <p><span>Jānim patika tava ideja <strong>+2</strong></span>&nbsp;|&nbsp;Internets</p>
            <p><span>Mikam patika tava ideja <strong>+2</strong></span>&nbsp;|&nbsp;PR</p>
            <p class="money"><span>Juris ieguva <strong>10Ls</strong></span>&nbsp;|&nbsp;Māksla</p>
            <p class="place"><span>Tu iekļuvi <strong>primajā vietā</strong></span>&nbsp;|&nbsp;PR</p>
            <p><span>Jānim patika tava ideja <strong>+2</strong></span>&nbsp;|&nbsp;Māksla</p>
            <p><span>Mikam patika tava ideja <strong>+2</strong></span>&nbsp;|&nbsp;Politika</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End: div#footer.body_container_35 -->