<!-- Start: div#header.body_container_35 -->
<div id="header" class="body_container_35">

  <!-- Start: Grid#header 1 -->
  <div class="grid_5 seperate">
    <a class="theme highlight" href="/contest">
      <div class="badge badge_3"></div>
      <p class="points"><span>45</span><span class="plus">20</span> punkti</p>
      <div class="progress">
        <div class="complete" style="width: 10%;"></div>
        <p>10%</p>
      </div>
      <p class="name">Politika</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest">
      <div class="badge badge_5"></div>
      <p class="points"><span>45</span><span class="plus">20</span> punkti</p>
      <div class="progress">
        <div class="complete" style="width: 20%;"></div>
        <p>20%</p>
      </div>
      <p class="name">PR</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest">
      <div class="badge badge_7"></div>
      <p class="points"><span>45</span> punkti</p>
      <div class="progress">
        <div class="complete" style="width: 30%;"></div>
        <p>30%</p>
      </div>
      <p class="name">Sadzīve</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest">
      <div class="badge badge_9"></div>
      <p class="points"><span>45436</span> punkti</p>
      <div class="progress">
        <div class="complete" style="width: 5%;"></div>
        <p>5%</p>
      </div>
      <p class="name">Māksla</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest">
      <div class="badge badge_11"></div>
      <p class="points"><span>45</span> punkti</p>
      <div class="progress">
        <div class="complete" style="width: 5%;"></div>
        <p>5%</p>
      </div>
      <p class="name">Internets</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest">
      <div class="badge badge_14"></div>
      <p class="points"><span>45</span> punkti</p>
      <div class="progress">
        <div class="complete" style="width: 30%;"></div>
        <p>30%</p>
      </div>
      <p class="name">Mūzika</p>
    </a>
  </div>
  <div class="grid_5">
    <div class="profile">
      <a class="logout" href="/">iziet</a>
      <div class="photo" style="background-image: url('http://placekitten.com/g/45/45');"></div>
      <p class="name">
        Vārds Uzvārds
        <span>10Ls</span>
      </p>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#header 1 -->

</div>
<!-- End: div#header.body_container_35 -->