<!-- Start: div#header.body_container_35 -->
<div id="header" class="body_container_35 guest">

  <!-- Start: Grid#header 1 -->
  <div class="grid_5 seperate">
    <a class="theme" href="/contest/guest">
      <p class="points"><span>45</span> punkti</p>
      <p class="name">Politika <span>(1)</span></p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest/guest">
      <p class="points green"><span>45</span> punkti</p>
      <p class="name">PR</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest/guest">
      <p class="points"><span>45</span> punkti</p>
      <p class="name">Sadzīve</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest/guest">
      <p class="points"><span>45436</span> punkti</p>
      <p class="name">Māksla</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme" href="/contest/guest">
      <p class="points"><span>45</span> punkti</p>
      <p class="name">Internets</p>
    </a>
  </div>
  <div class="grid_5 seperate">
    <a class="theme highlight" href="/contest/guest">
      <p class="points"><span>45</span> punkti</p>
      <p class="name">Mūzika</p>
    </a>
  </div>
  <div class="grid_5">
    <div class="profile">
      <p class="invite">ienāc ar</p>
      <ul class="social">
        <li class="twitter"><a href="/profile">tw</a></li>
        <li class="facebook"><a href="/profile">fb</a></li>
        <li class="draugiem"><a href="/profile">dr</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#header 1 -->

</div>
<!-- End: div#header.body_container_35 -->