IA.Views.Users ||= {}
IA.Views.Users.Profile ||= {}

class IA.Views.Users.Profile.PrivateView extends Backbone.View

  template: JST["backbone/templates/users/profile/private"]
  inactiveCheckOutButtonTemplate: JST["backbone/templates/users/profile/inactive_check_out_button"]

  events:
    "click p.edit a" : "editLink"

  initialize: () ->
    _.bindAll(this, 'editLink', 'addSocialIcons', 'addSocialIcon', 'render')
    @eventBus = @options.eventBus
    @user = @options.user

    @providers_collection = new Backbone.Collection(@model.get('providers'))
    @providers = @providers_collection.bind('reset', @addSocialIcons)

    @bindUserData()

  render: ->
    $(@el).html(@template(@model.toJSON()))
    
    if @model.get('work_tag') == true
      @$('#tag_wrap').append('<div class="tag">Darba meklējumos</div>')

    # it seems that not needed - FB users ar synched by default, internal app users don't need it
    # @addSocialIcons()
    # @addSocialIconEmail()
    
    @needCheckOut()
    return this

  editLink: ->
    window.location.hash = "/users/" + @model.get('id') + "/edit"
    return false

  addSocialIcons: ->
    @providers.each(@addSocialIcon)

  addSocialIcon: (provider) ->
    @$('ul.social').prepend('\r\n<li class="' + provider.get('name') + '"><a href="' + provider.get('profile_url') + '" target="_new">#</a></li>')

  addSocialIconEmail: ->
    view = new IA.Views.Users.Profile.SocialIconEmailView({ model: @model })
    @$('ul.social').append('\n\r').append(view.render().el)

  needCheckOut: ->
    if @user.get("can_check_out")
      view = new IA.Views.Users.Profile.CheckOutButtonView({ eventBus: @eventBus, model: @user })
      @$('.check_out_buttom_placeholder').html(view.render().el)
    else
      @initInactiveCheckOutButton()

      
  bindUserData: () ->
    @user.bind "change", () =>
      if (!@user.get("can_check_out"))
        @$('.earned_money').html(@user.get("earned_money"))
        @initInactiveCheckOutButton()

  initInactiveCheckOutButton: () ->
    @$('.check_out_buttom_placeholder').html(@inactiveCheckOutButtonTemplate(title: I18n.t("profile.private.checkout.title", {defaultValue: "You can checkout when balance reaches 25 USD."}), text: I18n.t("profile.private.checkout.text", {defaultValue: "Checkout"})))
    @$('.check_out_buttom_placeholder a').qtip ->
      show: 'mouseover'
