<div class="content_container_16">

  <div class="grid_16">
    <div class="bulb"></div>
  </div>
  <div class="clear"></div>

  <div class="grid_16">
    <h1><%= I18n.t("users.profile.checkout_form.title", { defaultValue: "Congratulations!" }) %></h1>
    <p><%= I18n.t("users.profile.checkout_form.content", { defaultValue: "Your request has been received for processing!" }) %></p>
  </div>
  <div class="clear"></div>

  <div class="grid_8 push_4">
    <input class="button_1 green" type="button" value="<%= I18n.t('users.profile.checkout_form.success.continue.title', {defaultValue: 'Continue »'}) %>" />
  </div>
  <div class="clear"></div>
</div>
