<div class="push_5 grid_5 category <%= active_class %>">
  <a id="theme_<%= id %>" class="category_name" href="/#/index">
    <div class="name"><strong><%= name %></strong> (<%= contests_count %>)</div>
    <div class="category-name-bg"></div>
    <div class="badge badge_<%= level %>"></div>
    <p class="points">
      <span class="total"><%= total_points %></span><span class="plus"><%= live_points %></span> <%= I18n.t("header.category.points", { defaultValue: "points" }) %>
    </p>
    <div class="progress">
      <div class="progress-bg-left"></div>
      <div class="progress-bg-center"></div>
      <div class="progress-bg-right"></div>
      <div class="complete-left-end bar"></div>
      <div class="complete bar" style="width: <%= Math.floor(percents / 100 * 114) %>px;"></div>
      <div class="complete-right-end bar"></div>
      <p><%= percents %>%</p>
    </div>
  </a>
</div>
