<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <h1>Sign In / Sign Up</h1>
    </div>
    <div class="grid_8" id="signin">
      <form  action="users/sign_in" method="post">
        <div><label id="email">Email</label><br/>
          <input type="email" id="email" name="user[email]" />
        </div>

        <div><label id="password">Password</label><br />
          <input type="password" id="password" name="user[password]" />
        </div>

        <div><input id="login_submit" type="submit" value="SignIn" /></div>
      </form>
      <Br>
      <a href="/users/auth/facebook" class="popup" data-width=600 data-height=400>
        <image src='/assets/facebook.png'>
      </a>
      <div id='signin_msg' style='font-size:18px;font-weight:bold;line-height:20px;margin-top:15px;color:red;'></div>
    </div>
    <div class="grid_8" id="signup">
      <form  action="users" method="post" id="sign_in_form">
        <div><label id="email">Email</label><br/>
          <input type="email" id="email" name="user[email]" />
        </div>

        <div><label id="password">Password</label><br />
          <input type="password" id="password" name="user[password]" />
        </div>

        <div><label id="confirm">Password Confirm</label><br />
          <input type="password" id="confirm" name="user[password_confirmation]" />
        </div>

        <div><label id="firstname">Firstname</label><br />
          <input type="text" id="firstname" name="user[first_name]" />
        </div>

        <div><label id="lastname">Lastname</label><br />
          <input type="text" id="lastname" name="user[last_name]" />
        </div>

        <div><input id="signup_submit" type="submit" value="SignUp" /></div>
      </form>
    </div>
    <div class="clear"></div>


    <div id="vip-popup">
      <div id="vip-payment-options"> 
      </div>
      <a href="#" class="close"><%= I18n.t("header.profile.vip.close", { defaultValue: "Close" }) %></a>
    </div>
    <div class="clear"></div>

  </div>
</div>
