<a style='float:left;width:140px;' class='profile_link' href="<%= user_type == 'guest' ? "javascript:void(0);" : "/users/" + id %>">
  <img height="45" width="45" alt="<%= first_name %> <%= last_name %>" src="<%= image_url %>" class="photo">
  <p class="name">
    <%= prefix %><%= first_name %> <%= last_name %>
    <br>
    <% if (AppUtils.isFacebookApp) { %>
      <span><span class="earned_money"><%= earned_money %></span> <%= I18n.t("currency.title", { defaultValue: "USD" }) %></span>
      <!--<div class="time-left"></div>-->
    <% } %>

  </p>
</a>
    <% if (user_type != 'guest') { %>
     <div style='float:right;margin-top:29px;line-height:18px;font-size:13px;'> <a href="/users/sign_out" rel="nofollow" data-method="delete" id='logout-link'><%= I18n.t("header.profile.logout", { defaultValue: "Logout" }) %></a></div>
    <% } %>
