<div class="popup_430" style="width:600px;">
  <div class="content_container_32" style="width: 600px;">

    <div class="grid_24">
      <div class="bulb"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_24">
      <h1><%= I18n.t("header.profile.vip.title", { defaultValue: "Upgrade to VIP" }) %></h1>
      <p><%= I18n.t("header.profile.vip.description", { defaultValue: "VIP status gives you the ability to post unlimited number of ideas." }) %></p>
    </div>
    <div class="clear"></div>

    <div id="vip-popup">
      <div id="vip-payment-options">
      </div>
      <a href="#" class="close"><%= I18n.t("header.profile.vip.close", { defaultValue: "Close" }) %></a>
    </div>
    <div class="clear"></div>

  </div>
</div>

