<%# debugger -%>
<%= semantic_form_for (resource || @resource), :url => session_path(resource_name), :html => { :class => "devise-form" } do |f| %>
  <%= f.inputs do %>    
    <%= f.input :email, :input_html => { :type => "text" } %>
    <%= f.input :password %>
    <%#= f.input :remember_me, :input_html => { :type => :checkbox } %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => I18n.t("devise.sessions.new", :default => "Login") %>
    <%= render "devise/links" %>
  <% end %>
<% end %>

