<!-- Start: div#header.body_container_35 -->
<div id="new_header">

  <div class="body_container_35">

    <div class="logo">
      <a href="" class="clickable"></a>
    </div>

    <div id="user_wrap" class="profile"></div>

    <div id="categories_wrap" class="menu_push"></div>

    <div class="slogan">
      <%= I18n.t("header.slogan", { defaultValue: "Idea Academy is giving opportunity for players to discover their creative talents, win prizes, earn money, build their reputation and portfolio in an exciting way while attaining degrees in Science of Ideas." }) %>
    </div>

  </div>

</div>
<!-- End: div#header.body_container_35 -->
