<!-- Start: div#header.body_container_35 -->
<div id="new_header">

  <div class="body_container_35">

    <div class="logo">
      <a href="" class="clickable"></a>
    </div>

    <div id="user_wrap" class="profile"></div>

    <% if (AppUtils.isFacebookApp) { %>
      <a id="try-internal" class="<%= I18n.locale %>" href="<%= AppUtils.internalLink %>" target="_top"></a> 
    <% } %>

    <div id="categories_wrap" class="menu_push"></div>

  </div>

</div>
<!-- End: div#header.body_container_35 -->
