<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <div id="left_sidebar" class="sidebar" style="min-height: 20px;">
    <div class="navigation">
      <a href="#" class="toLeft contest">
        <div class="slide previous"></div>
      </a>
      <a href="#" class="toRight contest">
        <div class="slide next"></div>
      </a>
      <div class="clear"></div>
    </div>
    <div id="about_category" class="sidebar_bubble visible-on-ready">
      <div id="toggle_about" class="close"></div>
      <h1>...</h1>
      <p id="show_about">...</p>
    </div>
  </div>

  <div id="right_sidebar" class="sidebar">

  </div>

  <!-- Start: Grid#content 1 -->
  <div class="grid_1 contest">
    <a href="#" class="toLeft">
      <div class="slide previous">
        <div class="tooltip">
          <div class="tooltip_wrap"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="grid_19 push_7 contest loading">

    <div id="contest_slider_wrap">

    </div>

  </div>

  <div class="grid_1 push_13 contest">
    <a href="#" class="toRight">
      <div class="slide next">
        <div class="tooltip">
          <div class="tooltip_wrap"></div>
        </div>
      </div>
    </a>
  </div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->