= semantic_form_for [:admin, @organization_user] do |f|
  = f.inputs "User", for: :user do |user|
    = user.input :first_name
    = user.input :last_name
    = user.input :email
    - if f.object.school?
      = user.input :user_type, as: :select, collection: user_types, include_blank: false

  = f.inputs "Admin" do
    = f.input :admin_flag

  = f.actions
