<div class="recent-user-badge">
  <div class="images">
    <a href="/#/users/<%= user_id %>">
      <img src="<%= image_url %>" width="38" height="38" />
    </a>
    <span class="badge badge_<%= level %>"></span>
  </div>
  <div class="content">
    <a href="/#/users/<%= user_id %>">
      <h3><%= prefix %><%= name %></h3>
    </a>
    <p><%= category %></p>
    <p><%= level_text %></p>
  </div>
</div>
