<tr class="me" data-order="<%= order %>" data-me="true">
  <td class="user photo">
    <div class="photo"><a href="/#/users/<%= user_id %>"><img class="photo" src="<%= image %>" width="38" height="38" alt="<%= first_name %> <%= last_name %>" /></a></div>
  </td>
  <td class="user name"><a href="/#/users/<%= user_id %>"><%= first_name %> <%= last_name %></a></td>
  <td class="place"><%= order %></td>
  <td><%= vote_points %></td>
  <td><%= idea_points %></td>
  <td><%= points %></td>
</tr>