<% if @resource.sign_in_count == 0 %>
  Hi, <%= @resource.to_s %>!
  <p>
  You are invited you to join brainstorming platform for <%= @resource.organizations.first.name %> to share your creativity and knowledge. Please, got to the link and create password 
  </p>
  <p><%= link_to 'Create my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
  <p>
  Upon creation of it, you will be directed to the platform.Your username is your email address. 
  </p>
  </p>
  <p>
  Your account won't be created until you access the link above and create your profile.
  </p>
  Sincerely,
  <br/>
  Team of Academy of Ideas
<% end %>
