<div id="scrollbar1">
  <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
  <div class="viewport">
    <div class="overview">
      <div id="AppView"></div>
    </div>
  </div>
</div>