%h1= I18n.t "internal.faq.title", default: "FAQ"
#faq
  = I18n.t "internal.faq.content", default: "<div class='faq'><div class='question'><span>Q.</span>Question</div><div class='answer'><span>A.</span>Answer</div></div>"
