%div#advert-top{ style: 'display: block !important;' }
  .ampersand
  .left
    = t "internal.advert_top.left.text", default: "<strong>200</strong> ideas in <strong>3</strong> days<br> from Your employees"
  .right
    = t "internal.advert_top.right.text", default: "Free access to <strong>thousands</strong><br> of creatives any moment"
  .clear
  #advert-top-image
    = image_tag "internal/employees.png", :class => "employees"
    = image_tag "internal/creatives.png", :class => "creatives"
    = image_tag "internal/left_arrow.png", :class => "left-arrow"
    = image_tag "internal/right_arrow.png", :class => "right-arrow"
    = image_tag "internal/bulbs.png", :class => "bulbs"
  = link_to "See it live!", AppUtils.public_page, :class => "orange-button"
#advert-middle
  .left
    = t "internal.advert_middle.left.text", default: "Brainstorming application with game<br>mechanics as an internal communication tool"
    = image_tag "internal/internal_screenshot.png"
  .right
    = t "internal.advert_middle.right.text", default: "Crowdsource any task for free and immediately<br>in a public Facebook application"
    = image_tag "internal/facebook_screenshot.png"
  = image_tag "internal/gears.png", :class => "gears"
#play-now
  = link_to t("internal.play_now.button_text", default: "Try now - it's free!"), new_user_registration_path, :class => "orange-button"
  %p= t "internal.play_now.description", default: "Innovative, effective and fun way to get the best ideas and information from your employees and co-workers. Use it for brainstorming, collecting data, analysing information, predicting future scenarios etc. Easiest, fastest and the most effective way to crowdsource your tasks and use the vast talent pool. <br>Just one click!"
  
- unless AppUtils.production_env?
  #social-buttons
    %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :"data-url" => root_url, :"data-text" => "#{t "internal.share.twitter_text", default: "Everything starts with an idea"}"} Tweet
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %iframe.facebook{:src => raw("http://www.facebook.com/plugins/like.php?href=#{CGI.escape root_url}&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=215446828545096"), :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden;", :"allowTransparency" => "true"}

