%h1= I18n.t "internal.pricing.title", default: "Choose your plan!"
%p= I18n.t "internal.pricing.paragraph1", default: "If you are a new user, please apply for Free Trial. We offer three options of application.  For more information Contact Us.<ul><li>First one is the smallest one and it works only as a internal brainstorming tool for small teams.</li><li>Second one is Web based application that is accessible through this web page. You pay monthly fee that depends on the number of application users.</li><li>Third option is to obtain application and install it in your own companies’ intranet.  You pay the price and, starting with next year,  500$ USD/year for technical support. Your company can order custom design for application as an added bonus.</li></ul>"
#pricing
  %table
    %thead
      %tr
        %td= I18n.t "internal.pricing.table.thead.version", default: "Version"
        %td= I18n.t "internal.pricing.table.thead.users", default: "Users"
        %td= I18n.t "internal.pricing.table.thead.crowdsourcing_option", default: "Crowdsourcing option"
        %td= I18n.t "internal.pricing.table.thead.web_intranet", default: "Web/Intranet"
        %td= I18n.t "internal.pricing.table.thead.design", default: "Design"
        %td= I18n.t "internal.pricing.table.thead.price", default: "Price"
        %td= I18n.t "internal.pricing.table.thead.duration", default: "Duration"
        %td
    %tbody
      - @services.each do |service|
        %tr
          %td.name= t service.name, default: ( service.name.split(".")[-2] || service.name ).capitalize
          %td
            - if service.user_limit == 0
              = t "internal.pricing.table.user_limit.unlimited", default: "Unlimited"
            - else
              = t "internal.pricing.table.user_limit.upto", default: "Up to "
              = service.user_limit
          %td
            - if service.crowdsourcing?
              = image_tag "internal/crowdsourcing_true.png"
            - else
              = image_tag "internal/crowdsourcing_false.png"
          %td
            - if service.intranet?
              = t "internal.pricing.table.intranet", default: "Intranet"
            - else 
              = t "internal.pricing.table.web", default: "Web"
          %td
            - if service.unique_design?
              = t "internal.pricing.table.unique_design", default: "Unique"
            - else
              = t "internal.pricing.table.standard_design", default: "Standard"
          %td
            = "#{service.price_in('USD')} $"
          %td
            = service_duration service
          %td
            = link_to t("internal.pricing.table.buy", default: "Get it now"), paypal_url(service), :class => "buy"




