%h1= I18n.t "internal.about.title.academy_of_ideas", default: "“Academy of Ideas”"
%p= I18n.t "internal.about.content.academy_of_ideas", default: "It is web based application that has proved itself as a very effective and exciting tool to fully access and use creative ant intellectual power within your company.  It is a perfect brainstorming tool that can be used to collect ideas, information, analysis, solutions and even make decisions. It is accessible to anyone at anytime anywhere.<br><br> <strong>Give your employees a chance to reveal their talents and showcase their knowledge in a exciting way!</strong>"

%h2= I18n.t "internal.about.title.history_and_achievements", default: "History and achievements"
%p= I18n.t "internal.about.content.history_and_achievements", default: "First prototype of application was created at the beginning of 2011 and launched in Facebook.  It was designed as a place where people would create ideas to real business and social challenges by using game mechanics.  During one year there have been posted 120 challenges from around 40 companies and organizations and more than 20 000 ideas have been created. 30-200 users participated in each challenge.  Challenges where very different in nature, but most of them where related to creating ideas for new products and improvement of current ones, marketing ideas, recipes, slogans, titles and  ideas for new events.  Prototype has been used successfully by government of Latvia, local municipalities, top Latvian companies, many small and medium companies as well as NGO."

%h2= I18n.t "internal.about.title.game_mechanics", default: "Game mechanics"
%p= I18n.t "internal.about.content.game_mechanics", default: "Application proved that its game mechanics can unleash people creativity and motivates them to participate, because players gain satisfaction from the process itself. Story of the game is that there is Academy of Ideas where players earn points and degrees in the Science of Ideas. They can reach PhD., Mag., professor degrees or even receive Nobel Prize in the Science of Ideas.  Players create ideas and vote for them by deciding winners of ideas’ duels. For every vote player receives 1 point and author of the winning idea receives 2 points.  There are filters that elevate best ideas during the course of the competition. Accordingly best ideas are being promoted and new ideas need to compete with better and better ideas in order to earn points. On average one challenge lasts 2-5 days and after that there is a summary of voting results, which can be used as an added feature for picking out best ideas that are going to be implemented.  The essential necessity for feedback to authors of ideas is being provided instantly by the voting of others players."

%h2= I18n.t "internal.about.title.features", default: "Features"
%p= I18n.t "internal.about.content.features", default: "Application can theoretically contain unlimited number of users and active challenges.  Application has up to 6 categories that can be used to separate different tasks or participants. For example there can be such categories as „Innovation”, „Marketing”, „Analysis” „Competition” etc.  There can be created many small rooms where users in small closed groups create ideas.  There can be created text, design and video challenges and, thus, ideas.  Each internal application is serviced by respective administrator/s, who insert challenges, invite and delete users, moderate whole process and crowdsource challenges to public version."

%h2= I18n.t "internal.about.title.facebook_connection", default: "Connection with public version in Facebook"
%p= I18n.t "internal.about.content.facebook_connection", default: "Every internal application with at least 50 users has an option to crowdsource for free challenges to public version of “Academy of Ideas” in Facebook.  In order to additionally motivate players, company can choose to stimulate monetary them by providing prize of at least 25$ that will be distributed between authors of best ideas.  Users of public version have agreed to voluntarily share their ideas and do not have any copyrights. Companies do not obtain copyrights to ideas through receiving them from public version, but companies can use those ideas in their own business and, if necessary, look for ways how to obtain copyrights."

%h2= I18n.t "internal.about.title.options", default: "Options how to use Academy of ideas"
%ul= I18n.t "internal.about.content.options", default: "<li>Can be used only as an internal communication tool</li><li>Can be used only as crowdsourcing tool </li><li>Can be used as internal communication tool and crowdsourcing tool at the same time</li><li>Can be used as a tool through which certain workers crowdsource basic tasks in order to focus energy and time on tasks with higher added value.</li>"
