%h1= I18n.t "internal.testimonials.title", default: "What others say about us?:"
#testimonials
  - 3.times do
    .testimonial
      .author
        = image_tag "http://placehold.it/96/96"
        .name
          Name Surname
          %br
          Place
      = "Text"

