<div class="push_5 grid_5 category <%= active_class %>">
  <a id="theme_<%= id %>" class="category_name" href="/#/index">
    <div class="name"><strong><%= name %></strong> (<%= contests_count %>)</div>
    <p class="points guest">
      <span class="total"><%= total_points %></span><span class="plus"><%= live_points %></span> <%= I18n.t("header.category.points", { defaultValue: "points" }) %>
    </p>
  </a>
</div>
