IA.Views.NewHeader ||= {}

class IA.Views.NewHeader.LoginPopup extends Backbone.View
  template: JST["backbone/templates/new_header/user/login_popup"]
  #payment_option_template: JST["backbone/templates/new_header/user/vip_popup_payment_option"]

  initialize: (options) ->
    _.bindAll(this, 'render')

  events: ->
    "click #signup_submit" : "signup_submit"
    "click #login_submit" : "login_submit"
    "click .close" : "closePopup"
    "click .purchase" : "closePopupWithNavigation"
    
  render: ->
    # data =
    #   title: I18n.t "header.profile.vip.title"
    #   description: I18n.t "header.profile.vip.description"
    #   close: I18n.t "header.profile.vip.close"
    $(@el).html(@template())
    return this
  
  closePopupWithNavigation: (e) ->
    # e.preventDefault()
    $.fancybox.close()
    
  closePopup: (e) ->
    e.preventDefault()
    $.fancybox.close()
    
  login_submit: (e) ->
    e.preventDefault()
    e.stopPropagation()
    $.ajax '/users/sign_in'
      data: {remote: true, commit: "Sign in", utf8: "✓", user:{email: $("#signin input#email").val(), password: $("#signin input#password").val()}}
      type: 'POST'
      dataType: 'json'
      error: (jqXHR, textStatus, errorThrown) ->
        $('#signin_msg').html "<p style='text-align:left;'>Wrong account,please try again.</p>"
      success: (data, textStatus, jqXHR) ->
        $('#signin_msg').html ""
        window.location.replace("/");
        
        
  signup_submit: (e) ->
    e.preventDefault()
    e.stopPropagation()
    if $('#signup input#password').val() == $('#signup input#confirm').val()
      $('#signin_msg').html ""
      $('#sign_in_form').submit()
    else
      $('#signin_msg').html "<p style='text-align:left;'>passwords are not equal.</p>"
    
