IA.Views.NewHeader ||= {}

class IA.Views.NewHeader.ProfileView extends Backbone.View
  template: JST["backbone/templates/new_header/user/profile"]

  events:
    "click .profile_link": "profileLink"

  initialize: () ->
    _.bindAll(this, 'render', "renderCountdownTimer", "bindUserData", "profileLink", "renderVip")
    @bindUserData()

    return false

  profileLink: ->
    window.location.hash = "/users/#{@model.get('id')}"
    return false

  render: ->
    $(@el).html(@template(@model.toJSON()))
    #@renderCountdownTimer() if AppUtils.isFacebookApp
    @renderVip()
    return this

  renderCountdownTimer: ->
    expiryTime = new Date(@model.get("unlimited_ideas_expires_at"))
    serverTime = @serverTime()
    if expiryTime > serverTime
      @$(".time-left").countdown
        compact: true
        until: expiryTime
        serverSync: serverTime
        onExpiry: ->
          $(".time-left").empty()
          $(".time-left-label").remove()
          @$(".time-left").before("<div class='time-left-label'>#{I18n.t("new_header.user.profile.unlimited_ideas", {defaultValue: "Remaining time for posting unlimited ideas"})}</div>")

  serverTime: ->
    time = null
    $.ajax
      url: "/server_time"
      async: false
      dataType: "text"
      success: (text) ->
        time = new Date(text)
      error: (http, message, exc) ->
        time = new Date()
    return time

  bindUserData: () ->
    @model.bind "change", () =>
      @$('img.photo').attr("src", @model.get("image_url"))
      if (!@model.get("can_check_out"))
        @$('.earned_money').html(@model.get("earned_money"))
        @$('.check_out_buttom_placeholder').html("")

  renderVip: ->
    unless @model.get("vip")
      if @model.get("user_type") == 'guest'
        @$(".name").append("<br><a id='vip-popup-link'>Let me signin/signup</a>")
        login_popup = new IA.Views.NewHeader.LoginPopup
        @$("#vip-popup-link").fancybox
          content: login_popup.render().el
          width: 600
          onClosed: ->
            login_popup.delegateEvents()
      else
        @$(".name").append("<br><a id='vip-popup-link'>#{I18n.t "header.profile.vip.get_vip"}</a>")
        vip_popup = new IA.Views.NewHeader.VipPopup
        @$("#vip-popup-link").fancybox
          content: vip_popup.render().el
          width: 700
          onClosed: ->
            vip_popup.delegateEvents()


