<!-- Start: div#header.body_container_35 -->
<div id="header" class="body_container_35">

  <div id="categories_wrap">

  </div>
  
  <div id="user_wrap">

  </div>
  
  <div class="clear"></div>

</div>
<!-- End: div#header.body_container_35 -->