<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="bulb"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.authorize.congratulations", { defaultValue: "Congratulations! You have earned many points!" }) %></h1>
      <p><%= I18n.t("popups.authorize.login", { defaultValue: "In order to save your achievements, compete with friends and earn money, please login using:" }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <ul class="social">
        <li class="facebook"><a href="/login/facebook/auth" class="authorization">fb</a></li>
        <li class="draugiem"><a href="/login/draugiem/auth" class="authorization">dr</a></li>
      </ul>
    </div>
    <div class="clear"></div>

  </div>
</div>
