<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="earned_money"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.earned_money.title", { defaultValue: "You have earned {{earned_money}} LVL", earned_money: earned_money }) %></h1>
      <p><%= I18n.t("popups.earned_money.content", { defaultValue: "For payout, go to your profile, press 'Payout' and enter your bank account." }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>
  </div>
</div>
