<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <h1><%= I18n.t("popups.earn_more.title", { defaultValue: "Earn more!" }) %></h1>
      <p><%= I18n.t("popups.earn_more.content", { defaultValue: "If you want to earn more points, submit your idea and let others vote for it!" }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <div class="earn_more"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>
  </div>
</div>
