<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="first_points"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.first_points_idea.title", { defaultValue: "Your first points!" }) %></h1>
      <p><%= I18n.t("popups.first_points_idea.content", { defaultValue: "Vote more to get more! All is up to you! :)" }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
