<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="like_idea">
        <div class="user from"><img src="<%= like_idea_image_url %>" width="62" height="66" alt="" /></div>
        <div class="points">2</div>
        <div class="user to"><img src="<%= like_idea_my_image_url %>" width="62" height="66" alt="" /></div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= like_idea_first_name %> <%= like_idea_last_name %> <%= I18n.t("popups.like_idea.title", { defaultValue: "voted for your idea!" }) %></h1>
      <p><%= like_idea_first_name %> <%= I18n.t("", { defaultValue: "voted for your idea so you receive <strong>+2</strong>&nbsp;points in category <strong>{{category}}</strong>.", category: category }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
