<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="new_achievement achievement_badge_<%= new_achievement_level %>"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.new_money_achievement.title", { defaultValue: "Congratulations!" }) %></h1>
      <p><%= new_achievement_message %></p>
      <p><%= I18n.t("popups.new_money_achievement.content", { defaultValue: "Search for contests with money icon and start earning money." }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
