<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="other_themes"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.other_themes.title", { defaultValue: "Other themes" }) %></h1>
      <p><%= I18n.t("popups.other_themes.content", { defaultValue: "You can access similar contests in other themes, go to theme to view ongoing contests." }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
