<div class="popup_blank">
  <div class="content_container_32">

    <div class="grid_24" style="height: 600px;overflow-y:auto;">
      <%= I18n.t("popups.rules.text", { defaultValue: "" }) %>
    </div>
    <div class="clear"></div>

  </div>
</div>
