<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="bulb"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <p><%= I18n.t("popups.social_icon_email_notifications.email", { defaultValue: "To receive news, fill in your email" }) %> <a class="your_profile" href="/#/users/<%= id %>/edit"><%= I18n.t("popups.social_icon_email_notifications.profile", { defaultValue: "in your profile" }) %></a>.</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.close", { defaultValue: "Close" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
