<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="logo"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.welcome.title", { defaultValue: "Welcome to Idea Academy!" }) %></h1>
      <p><%= I18n.t("popups.welcome.content", { defaultValue: "To get your first points, vote for idea that you like most!" }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
