<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="first_achievement_badge"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1><%= I18n.t("popups.welcome_user.title", { defaultValue: "Congratulations! Your first achievement - you have entered Idea Academy!" }) %></h1>
      <p><%= I18n.t("popups.welcome_user.content", { defaultValue: "See your current degree in top panel and progress needed to next level in top panel!" }) %></p>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <div class="first_achievement"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="<%= I18n.t("popups.continue", { defaultValue: "Continue »" }) %>" />
    </div>
    <div class="clear"></div>

  </div>
</div>
