IA.Views.Contests ||= {}
IA.Views.Contests.Contest ||= {}

class IA.Views.Contests.Contest.DuelView extends Backbone.View

  template: JST["backbone/templates/contests/contest/duel"]

  events:
    "click input[name=vote]": "doVote"
    "click input[name=report-spam]": "reportSpam"
    "click #skip_vote": "doVoteSkip"

  initialize: () ->
    _.bindAll(this, 'doGetIdeas', 'doVote', 'doVoteSkip', 'onGetVote', 'render', 'renderIdeas', 'onGetIdeaPairs')
    @eventBus = @options.eventBus
    @user = @options.user
    @contest = @model

    @ideasCollection = new IA.Collections.IdeasCollection
    @doGetIdeas()
  
  reportSpam: (event)->
    I18n.t("contests.contest.duel.invite_friends", { defaultValue: "Invite friends" })

    if confirm("#{I18n.t('messages.spam_report_confirmation', { defaultValue: 'Are you sure?' })}")
      if @user.get("session_id")
        @contest.fetch { url: "api/contests/" + @contest.get('id') + "/tmp_ideas/" + $(event.currentTarget).data('id') + "/report_spam", success: @doGetIdeas }
      else
        @contest.fetch { url: "api/contests/" + @contest.get('id') + "/ideas/" + $(event.currentTarget).data('id') + "/report_spam", success: @doGetIdeas }

  doGetIdeas: ->
    @$('#vote_wrap').html('<div class="loading_scroll_small"></div>')
    if @user.get("session_id")
      #@idea.fetch { url: "/api/contests/" + @contest.get('id') + "/tmp_ideas/show_duel", success: @onGetIdeas }
      @ideasCollection.fetchTmpIdeaPairs(@contest.id, @onGetIdeaPairs, @renderNoIdeas)
    else
      #@idea.fetch { url: "/api/contests/" + @contest.get('id') + "/ideas/show_duel", success: @onGetIdeas }
      @ideasCollection.fetchIdeaPairs(@contest.id, @onGetIdeaPairs, @renderNoIdeas)

    @eventBus.trigger('updateScrollbar')

  doVote: (event) ->
    if @user.get("user_type") == 'guest'
      e.preventDefault()
      e.stopPropagation()
    else
      @$('#skip_vote_inner_wrap').remove()
      @$('#vote_wrap').html('<div class="loading_scroll_small"></div>')
      if @user.get("session_id")
        @contest.fetch { url: "api/contests/" + @contest.get('id') + "/tmp_ideas/vote/" + @first_idea.id + "/" + @second_idea.id + "/" + $(event.currentTarget).data('id'), success: @onGetVote }
      else
        @contest.fetch { url: "api/contests/" + @contest.get('id') + "/ideas/vote/" + @first_idea.id + "/" + @second_idea.id + "/" + $(event.currentTarget).data('id'), success: @onGetVote }

      $("<div class='flyup'><%= I18n.t("statuses.plus_1_point") %></div>").appendTo("#scrollbar1").css(position: "absolute", left: event.pageX - 80, top: event.pageY ).animate {top: 0, opacity: 0}, 1500, "linear", ->
        $(this).remove()

      @eventBus.trigger('updateScrollbar')
      
  doVoteSkip: ->
    @$('#vote_wrap').html('<div class="loading_scroll_small"></div>')
    if @user.get("session_id")
      @contest.fetch { url: "api/contests/" + @contest.get('id') + "/tmp_ideas/vote/" + @first_idea.id + "/" + @second_idea.id, success: @onGetVote }
    else
      @contest.fetch { url: "api/contests/" + @contest.get('id') + "/ideas/vote/" + @first_idea.id + "/" + @second_idea.id, success: @onGetVote }

    @eventBus.trigger('updateScrollbar')
    return false

  onGetIdeaPairs: (collection) ->
    @ideaPairs = collection.models
    @renderPair()
    
    @eventBus.trigger('updateScrollbar')

  renderPair: ->
    @first_idea = @ideaPairs[0].toJSON()
    @second_idea = @ideaPairs[1].toJSON()

    skip_vote_text = I18n.t("contests.contest.duel_view.skip_vote.title", {defaultValue: "next pair?"})
    @$('#skip_vote_wrap').html("<p id='skip_vote_inner_wrap'><a id='skip_vote' class='small' href='#skip_vote' alt>#{skip_vote_text}</a></p>")

    @renderIdeas()

  onGetVote: (response) ->
    if response.get('status') == true

      if @ideaPairs.length > 2
        @ideaPairs.splice(0, 2)
        @renderPair()
      else
        @doGetIdeas()

      @eventBus.trigger("doUpdateCategory", @user.get('id'), @contest.get('category_id'))
      @eventBus.trigger("doUpdateCategoryTmp", @user.get('id'), @contest.get('category_id'))
      @eventBus.trigger("updateStatistics")
      @eventBus.trigger('doGetLogActivities')
      
      unless @user.get('session_id')
        @eventBus.trigger('doGetPopup')

      if @user.get('session_id')
        @eventBus.trigger('doGetPopupTmp')

    else
      @$('#vote_wrap').html('<div class="error">status: <span>' + response.get('status') + '</span>, message: <span>' + response.get('message') + '</span></div>')
      @$('#skip_vote_wrap').html('')
      @$("#invite-friends").css({"top": "-20px"})

    @eventBus.trigger('updateScrollbar')

  render: ->
    $(this.el).html(@template())
    @eventBus.trigger('updateScrollbar')
    if @user.get("user_type") == 'guest'
      
      login_popup = new IA.Views.NewHeader.LoginPopup
      @$("input[name=vote]").fancybox
        content: login_popup.render().el
        width: 600
        onClosed: ->
          login_popup.delegateEvents()
    return this

  renderIdeas: ->
    if @contest.isText()
      view_first_idea = new IA.Views.Contests.Contest.Ideas.IdeaView({ model: @first_idea, contest: @contest, user: @user })
      view_second_idea = new IA.Views.Contests.Contest.Ideas.IdeaView({ model: @second_idea, contest: @contest, user: @user })
    else if @contest.isImage()
      view_first_idea = new IA.Views.Contests.Contest.Ideas.IdeaImageView({ model: @first_idea, contest: @contest, user: @user })
      view_second_idea = new IA.Views.Contests.Contest.Ideas.IdeaImageView({ model: @second_idea, contest: @contest, user: @user })
    else if @contest.isVideo()
      view_first_idea = new IA.Views.Contests.Contest.Ideas.IdeaVideoView({ model: @first_idea, contest: @contest, user: @user })
      view_second_idea = new IA.Views.Contests.Contest.Ideas.IdeaVideoView({ model: @second_idea, contest: @contest, user: @user })

    @$('#vote_wrap').html(view_first_idea.render().el)
    @$('#vote_wrap').append(view_second_idea.render().el)

    $("input[name='report-spam']").qtip ->
      content: 'This is an active list element',
      show: 'mouseover',
      hide: 'mouseout'

    @$('.ribbon').first().addClass('A')
    @$('.ribbon').last().addClass('B')
    @$('#vote_wrap > div').last().addClass("second-idea")
    
    if @user.get("user_type") == 'guest'
      
      login_popup = new IA.Views.NewHeader.LoginPopup
      @$("input[name=vote]").fancybox
        content: login_popup.render().el
        width: 600
        onClosed: ->
          login_popup.delegateEvents()
          
          
    if not @contest.isImage()
      @$(".choice").equalizeHeights()

  renderNoIdeas: (collection, response) ->
    response = JSON.parse(response.responseText)
    @$('#vote_wrap').html('<div class="error">' + response.message + '</div>')
    @$('#skip_vote_wrap').html('')
    @$("#invite-friends").css
        "bottom": "5px"
