<h1>Done Statistics</h1>
<div class="scroll">
    <table>
        <tbody>
            <tr>
                <th class="place">Place</th>
                <th class="id">ID</th>
                <th>Idea</th>
                <th class="username">User name</th>
            </tr>
	<% @ideas.each_with_index do |idea, index| %>
		    <tr>
				<td class="place"><%= index + 1 %></td>
				<td class="id"><%= idea.id %></td>
				<td><%= idea.text %></td>
				<td class="username"><%= idea.user %></td>
			</tr> 
	<% end %>
	<tbody>
</table>
</div>
<a href="JavaScript:window.print();">Print this page</a>