h2.devise-title{margin-top:10px;margin-left:10px;margin-bottom:20px}.devise-form{margin-left:10px}.devise-form legend{margin-bottom:10px}.devise-form label,.devise-form input{display:inline-block}.devise-form label{width:170px;font-size:0.8em}.devise-form input{width:150px}#devise-links{margin-left:10px;margin-top:20px}
