<%= semantic_form_for [:admin, @contest], :html => { :multipart => true } do |f| %>
  <%= f.inputs "Contest" do %>
    <%= f.input :is_money, :as => :radio, :label => "Money" if AppUtils.facebook_env? %>
    <%= f.input :title %>
    <%= f.input :ends_at, :start_year => Time.now.year, :minute_step => 15, :include_blank => false %>
    <%= f.input :description %>
    <% if AppUtils.facebook_env? %>
      <%= f.input :award %>
      <%= f.input :award_value %>
    <% end %>
    <%= f.input :users_per_room %>
    <%# f.input :award_value %>
  <% end %>

  <% if current_organization.school? %>
    <%= f.inputs "Permissions" do |f| %>
      <ol>
        <li class="input">
        <label class="label"> Permissions
        </label>
        <% for role in EduUser::TYPES %>
          <%= check_box_tag "contest[edu_access][]", role, @contest.edu_access.include?(role) %>
          <%= user_type_translations role.to_sym %>
        <% end %>
        <%= hidden_field_tag "contest[edu_access][]" %>
      <li>
    </ol>
    <% end %>
  <% end %>

  <%= f.inputs "Attributes" do %>
    <%= f.input :typekey, :as => :select, :include_blank => false, :collection => ["text", "image", "video"] %>
    <%= f.input :category, :as => :select, :collection => current_organization.try(:categories), :include_blank => false %>
    <%= f.input :active_flag %>
    <% if AppUtils.facebook_env? %>
      <%= f.input :language, :as => :select, :collection => LanguageList::IDEA_ACADEMY, :include_blank => false %>
    <% end %>
  <% end %>

  <%= f.inputs "Logo" do %>
    <%= f.input :logo, 
            :as => :file, 
            :hint => ( f.object.logo? ? f.template.image_tag(f.object.logo_image) : false ) %>
  <% end %>

  <%= f.inputs "Smaller logo (shown at title)" do %>
    <%= f.input :smaller_logo, 
            :as => :file, 
            :hint => ( f.object.smaller_logo? ? f.template.image_tag(f.object.smaller_logo.url(:thumbnail)) : false ) %>
  <% end %>

  <%= f.actions %>
<% end %>
