<h1>Sveiks</h1>

<p>Ideju Akadēmijā ir noslēdzies Jūsu veidotais konkurss <strong>"<%= @contest.title %>"</strong></p>

<p>Konkursu varat apskatīt <a href="http:/idejuakademija.herokuapp.com/#/contests/<%= @contest.id %>">šeit</a>

<p>Kā arī varat veikt konkursa <a href="http:/idejuakademija.herokuapp.com/done_statistics/<%= @contest.id %>">rezultātu izdruku.</a>

<p>Ar cieņu, Ideju Akadēmijas administrācija</p>