<!-- Start: Grid#content.contest 4 -->
<div class="grid_16 contest">
  <p class="heading"><%= I18n.t("contests.contest.duel.which_idea", { defaultValue: "Which of the ideas do you like most - <strong>A</strong> or <strong>B</strong>?" }) %></p>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 4 -->

<div id="vote_wrap" class="duel-template">
  <div class="loading_scroll_small"></div>
</div>

<% if (AppUtils.isFacebookApp) { %>
  <a id="invite-friends" href="#"><%= I18n.t("contests.contest.duel.invite_friends", { defaultValue: "Invite friends" }) %></a>
<% } %>

<!-- Start: Grid#content.contest 7 -->
<div id="skip_vote_wrap" class="grid_16 contest"></div>
<div class="clear"></div>
<!-- End: Grid#content.contest 7 -->
