<div class="scroll thin">
  <div class="content_container_16">

   <!-- Start: Grid#content.contest 1 -->
   <div class="grid_16 contest">
     <p class="location"><%= I18n.t("contests.contest.breadcrumb", { defaultValue: "» Contests » {{category}} »", category: category }) %></p>
     <h1><%= title %></h1>
   </div>
   <div class="clear"></div>
   <!-- End: Grid#content.contest 1 -->

   <div id="details_wrap">

     <!-- Start: Grid#content.contest 3 -->
     <div class="grid_16 contest">
       <p class="description"><%= description %></p>
       <div class="thumbnail">
         <img src="<%= logo %>" width="390" height="175" alt="<%= title %>" />
       </div>
     </div>
     <div class="clear"></div>
     <!-- End: Grid#content.contest 3 -->

   </div>

   <!-- Start: Grid#content.contest 2 -->
   <div class="grid_3 contest">
     <p class="countdown"></p>
   </div>
   <div class="grid_3 push_10 contest">
     <a class="toggle unfold" href="#details_wrap" data-close="<%= I18n.t("contests.contest.less", { defaultValue: "less" }) %>"><%= I18n.t("contests.contest.more", { defaultValue: "more" }) %></a>
   </div>
   <div class="clear"></div>
   <!-- End: Grid#content.contest 2 -->

   <div id="duel_wrap"></div>

  </div>
</div>
