<!-- Start: Grid#content.contest 8 -->
<div class="grid_16 contest">
  <p class="heading"><%= I18n.t("contests.contest.ideas.new.above_text", { defaultValue: "Post ideas &mdash; <strong>Earn points!</strong>" }) %></p>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 8 -->

<!-- Start: Grid#content.contest 9 -->
<div class="grid_2 user">
  <div class="user">
    <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
  </div>
</div>
<div class="grid_10 contest">
  <div class="idea">
    <input class="idea" type="text" name="idea" value="<%= I18n.t("contests.contest.idea.in_my_opinion", { defaultValue: "In my opinion..." }) %>" />
  </div>
</div>
<div class="grid_4 contest">
  <input type="submit" class="grid_4 button orange brackets" value="<%= I18n.t("contests.contest.ideas.new.submit", { defaultValue: "Submit" }) %>" />
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 9 -->
