<div id="contest_container">
  <div class="scroll thin">
    <div class="content_container_16">
      <div class="grid_16 contest error">
        <p><%= msg %></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

