<!-- Start: Grid#content.contest 3 -->
<div class="grid_16 contest">
  <p class="results"><%= I18n.t("contests.contest.ideas.results.idea_count", { defaultValue: "You have submitted {{my_ideas}} ideas, {{my_ideas_topthree}} of them are in top 3", my_ideas: my_ideas, my_ideas_topthree: my_ideas_topthree }) %></p>
  <p class="results"><%= I18n.t("contests.contest.ideas.results.participants_count", { defaultValue: "{{total_participants}} players participated in contest, divided in {{total_rooms}} rooms", total_rooms: total_rooms, total_participants: total_participants }) %></p>
  <p class="results"><a href="/#/users/<%= winner_id %>"><%= winner %></a> <%= I18n.t("contests.contest.ideas.results.winner", { defaultValue: "got first place" }) %></p>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 3 -->
