<!-- Start: Grid#content.contest 10 -->
<div class="grid_16 contest">
  <ul id="statistics_done_tabs" class="tabs spacer">
    <li id="tab_room"><%= I18n.t("contests.contest.statistics.your_room", { defaultValue: "Your room" }) %></li><li id="tab_standings" class="seperate"><%= I18n.t("contests.contest.statistics.final_standings", { defaultValue: "Final standings" }) %></li>
  </ul>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 10 -->

<!-- Start: Grid#content.contest 11 -->
<div id="statistics_done_view"></div>
<!-- End: Grid#content.contest 11 -->
