<!-- Start: Grid#content.contest 10 -->
<div class="grid_16 contest">
  <ul id="statistics_tabs" class="tabs spacer">
    <li id="tab_players"><%= I18n.t("contests.contest.statistics.players.title", { defaultValue: "Players" }) %></li>
    <li class="seperate" id="tab_top_ideas"><%= I18n.t("contests.contest.statistics.top_ideas", { defaultValue: "Top ideas" }) %></li>
    <li id="tab_my_ideas" class="seperate"><%= I18n.t("contests.contest.statistics.my_ideas", { defaultValue: "My ideas" }) %></li>
    <li id="tab_all_ideas" class="seperate"><%= I18n.t("contests.contest.statistics.all_ideas", { defaultValue: "All ideas" }) %></li>
  </ul>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 10 -->

<!-- Start: Grid#content.contest 11 -->
<div class="tab-view" id="statistics_view"></div>
<!-- End: Grid#content.contest 11 -->

<!-- Start: Grid#content.contest 11 -->
<div class="tab-view" id="my_ideas_view"></div>
<!-- End: Grid#content.contest 11 -->

<!-- Start: Grid#content.contest 11 -->
<div class="tab-view" id="all_ideas_view"></div>
<!-- End: Grid#content.contest 11 -->

<!-- Start: Grid#content.contest 11 -->
<div class="tab-view" id="top_ideas_view"></div>
<!-- End: Grid#content.contest 11 -->
