<!-- Start: div#footer.body_container_35 -->
<div id="footer">

  <div class="body_container_35">
    <div class="grid_30">
      <ul class="left">
        <li>
          <div id="footer_contests_wrap"></div>
        </li>
        <li class="seperate"><a class="new_contest_link footer_menu_link" href="/#top"><%= I18n.t("footer.new_contest_link_title", { defaultValue: "New contest" }) %></a></li>
        <li class="seperate"><a class="rules_link" href="/"><%= I18n.t("footer.rules_link_title", { defaultValue: "Rules" }) %></a></li>
      </ul>
    </div>
  </div>

</div>
<!-- End: div#footer.body_container_35 -->
