<!-- Start: div#footer.body_container_35 -->
<div id="footer">

  <div class="body_container_35">
    <div class="grid_25 left-menu">
      <ul class="left">
        <li>
          <div id="footer_contests_wrap"></div>
        </li>
        <% if (AppUtils.isInternalApp) { %>
          <li class="seperate"><a class="new_contest_link footer_menu_link" href="/#top"><%= I18n.t("footer.new_contest_link_title", { defaultValue: "New contest" }) %></a></li>
        <% } %>
        <li class="seperate"><a class="rules_link" href="/"><%= I18n.t("footer.rules_link_title", { defaultValue: "Rules" }) %></a></li>
        <li class="seperate">
          <div id="footer_statistics_wrap"></div>
          <!-- <a class="statistic_link" href="/#/statistics/1">Statistika</a> -->
        </li>
        <% if (AppUtils.isInternalApp) { %>
          <li class="seperate">
            <a href="/#/crowdsourced_contests"><%= I18n.t("footer.crowdsourcing_link_title", { defaultValue: "Crowdsourcing" }) %></a>
          </li>
          <li class="seperate">
            <a class="contact_admin_link" href="#"><%= I18n.t("footer.contact_admin_link_title", { defaultValue: "Contact us" }) %></a>
          </li>
        <% } %>
        <% if (AppUtils.isFacebookApp) { %>
          <li class="seperate">
            <a class="contact_link" href="#"><%= I18n.t("footer.contact_link_title", { defaultValue: "Contact us" }) %></a>
          </li>
        <% } %>
      </ul>
    </div>
    <% if (AppUtils.isInternalApp) { %>
      <div id="log_activities_wrap" class="grid_5"></div>
    <% } %>
    <ul id="lang_selector_wrap" class="grid_5"></ul>
  </div>

</div>
<!-- End: div#footer.body_container_35 -->
