<tr class="theme">
  <td class="user"><%= name %></td>
  <td><%= vote_points %></td>
  <td><%= idea_points %></td>
  <td class="achievment"><span class="badge_<%= level %>"><%= total_points %></span></td>
</tr>