<div class="grid_5">
  <div class="profile">
    <p class="invite">ienāc ar</p>
    <ul class="social">
      <li class="facebook"><a href="/login/facebook/auth" class="authorization">fb</a></li>
      <li class="draugiem"><a href="/login/draugiem/auth" class="authorization">dr</a></li>
    </ul>
  </div>
</div>