<div class="grid_5 seperate category <%= active_class %>">
  <a id="theme_<%= id %>" class="theme" href="/contest/guest">
    <p class="points">
      <span class="total"><%= total_points %></span><span class="plus"><%= live_points %></span> <%= I18n.t("header.category.points", { defaultValue: "points" }) %>
    </p>
    <p class="name"><%= name %></p>
  </a>
</div>
