<h1>Forgot your password?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "devise-form" }) do |f| %>
  <%= devise_error_messages! %>

  <li>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </li>

  <fieldset class="actions">
    <div><%= f.submit I18n.t "internal.registration.forgot_password.submit", default: "Send me reset password instructions" %></div>
  </fieldset>
<% end %>

<%= render "links" %>
