<h1><%= I18n.t "internal.registration.title", default: "Get Your application NOW!" %></h1>
<p><%= I18n.t "internal.registration.content", default: "Content" %></p>

<%= semantic_form_for @resource, :url => registration_path(resource_name), :html => { :class => "devise-form registration-form" } do |f| %>

  <%#= f.inputs :name => I18n.t("devise.registrations.user_info") do %>
  <li class="input service-radios-input">
  	<label for=""><%= I18n.t "internal.registration.pricing_plan.label", default: "Pricing plan" %></label>
    <div class="service-radios">
      <% Service.internal.in_groups_of(3, false).each do |radio_group| -%>
        <div class="radiogroup">
          <% radio_group.each do |service| -%>
            <input type="radio" name="service" value="<%= service.id %>" id="service_id_<%= service.id %>" /><label for="service_id_<%= service.id %>"><%= I18n.t service.name %></label><br>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </li>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
    <%= f.inputs :for => :organization_users do |organization_user| %>
      <%= organization_user.semantic_fields_for :organization do |organization_form| %>
        <%= organization_form.input :org_type, as: :select, include_blank: false, collection: organization_types, label: I18n.t("internal.registration.organization_type", default: "Organization type") %>
        <%= organization_form.input :name, :label => I18n.t("internal.registration.company_name", default: "Company name") %>
        <%= organization_form.input :phone_number, :label => I18n.t("internal.registration.phone_number", default: "Phone number") %>
        <%= organization_form.input :heard_from, :as => :select, :collection => heard_from_options %>
      <% end %>
    <% end %>
    
    <%= f.input :email, :input_html => { :type => "text" } %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%#= f.input :remember_me, :input_html => { :type => :checkbox } %>
  <%# end %>

  <%= f.actions do %>
    <%= f.label :submit, I18n.t("internal.registration.submit.label", default: "Good to go?") %>
    <%= f.action :submit, :as => :button, :label => I18n.t("internal.registration.submit", default: "Launch application") %>
  <% end %>

<% end %>

<%#= render "links" %>
