IA.Views.Payments ||= {}

class IA.Views.Payments.IndexView extends Backbone.View

  template: JST["backbone/templates/payments/index"]

  initialize: (options) ->
    super(options)
    _.bindAll(this, 'render', 'openPaymentPopup', 'onClosePaymentPopup')
    @collection.fetchPaymentOptions(@onGetPaymentOptions)
    @contest = @options.contest

  events: ->
    "click .payment_option a" : "openPaymentPopup"

  render: ->
    $(@el).html(@template({ max_ideas_count: <%= ApplicationSetting["IDEA_LIMIT_PER_DAY"].to_i %>, contest_id : @contest }))
    return this

  onGetPaymentOptions: (collection) ->
    _.each collection.models, (option) ->
      view = new IA.Views.Payments.PaymentOptionView({ eventBus: @eventBus, model: option })
      @$("#payment_options").append(view.render().el)
    , this

  openPaymentPopup: (event) ->
    event.preventDefault()
    $(".error").remove()

    obj =
      method: 'pay',
      action: 'buy_item',
      order_info: {'service_id': $(event.target).data('service-id')},
      dev_purchase_params: {'oscif': true}

    FB.ui(obj, @onClosePaymentPopup)

  onClosePaymentPopup: () ->
    contest = @contest
    window.location.hash = "/index" unless arguments[0].order_id?
    $.ajax
      url: "/api/payment_transactions/#{arguments[0].order_id}"
      beforeSend: (jqXHR, settings) =>
        @$("#payment_options").hide()
        @$("#payment-load-indicator-container").show()
      success: (data, status, jqxhr) ->
        if data.state == "in_progress"
          ajx = this
          $.doTimeout 1500, ->
            $.ajax ajx
        else
          window.location.hash = "#/contests/#{contest}"
      error: (jqxhr, status, error) =>
        @$("#payment-load-indicator-container").hide()
        $("#profile-payments .description")
        .after("<div class='error'><%= I18n.t 'payments.transaction_failed', { defaultValue: 'A payment transaction enctountered a problem. Please contact us!' } %></div>")
