<div id="content" class="blocked_user message">
  <p class="error">
    <%= I18n.t("splash.blocked.blocked_till", { defaultValue: "Your profile is blocked till" }) %> <%= blocked_till %> <br />
    <% if ( block_reason.length > 0 ) { %>
      <%= I18n.t("splash.blocked.reason", { defaultValue: "Reason:" }) %> <%= block_reason %>
    <% } %>
  </p>
</div>
