<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 2 -->
  <div class="grid_33 push_1">
    <div class="scroll wide">
      <div class="content_container_32">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <div class="logo"></div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_20 push_6 welcome">
          <ul class="steps">
            <li class="first new_contest"><%= I18n.t("splash.new_contest.first", { defaultValue: "Lack of ideas?" }) %></li>
            <li class="second new_contest"><%= I18n.t("splash.new_contest.second", { defaultValue: "Ask to Academy!" }) %></li>
            <li class="third new_contest"><%= I18n.t("splash.new_contest.third", { defaultValue: "Receive hundreds of ideas!" }) %></li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <div class="hr_cut">
            <a href="/#/new_contest" class="button_1"><%= I18n.t("splash.new_contest.button_text", { defaultValue: "Receive ideas!" }) %></a>
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <p class="heading"><%= I18n.t("splash.new_contest.description", { defaultValue: "Idea Academy is game where ideas for real social and business problems are being generated as a result of competition. Submit your contest now!" }) %></p>
          <hr />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('/assets/landing/inovativa_celu_fiksatora_Againer_izstradataji.png');"></div>
          <div class="testimonial">
            Šokējošs apjoms ar lieliskām idejām. Šī ir ideju apmaiņa ar nenormālu jaudu! Lieta perspektīva, apjomīga, svarīgi zināt ko gribi, tad grupas spēks un zināšanas strādā izcili.<span>— Inovatīva ceļu fiksatora Againer izstrādātāji</span>
          </div>
        </div>
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('/assets/landing/gandrs.jpg');"></div>
          <div class="testimonial">
            Jautras un nopietnas, ironiskas un liriskas idejas – lasot tās, mēs priecājāmies par neizsīkstošo cilvēku iztēli un humora izjūtu. Tās mums palīdzēja saprast, kas ir svarīgs mūsu auditorijai, kādas noskaņas lido gaisā un kādi vārdi spēj uzrunāt cilvēku sirdis un prātus.<span>— SIA "Gandrs"</span>
          </div>
        </div>
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('/assets/landing/lielvarde.png');"></div>
          <div class="testimonial">
            Ideju Akadēmija ir lieliska jaunrades platforma, kas vienlaikus dod iespēju izpausties trakiem un radošiem prātiem un dod reālu pienesumu arī tautsaimniecībai un sabiedrībai kopumā. Īpašs motivējošs faktors ir tieši tas, ka ne tikai uzvarošās, bet gan visas iesniegtās idejas noder reālu biznesa vai sociālo projektu īstenošanā. Šī ir lieliska iespēja pašizpausmei!<span>— Linda Lielvārde</span>
          </div>
        </div>
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('/assets/landing/tri.png');"></div>
          <div class="testimonial">
            Pavisam kopā uzdevām 3 sev aktuālus jautājumus. Galvenais ieguvums – daudz radošas un oriģinālas idejas, kuras noteikti izmantosim, lai risinātu mums svarīgas lietas. Jo īpaši iesaku to izmantot uzņēmumiem, kuriem vajag ātrus risinājumus kādam jautājumam un pašu resursi uz doto brīdi ir izsmelti.<span>— SIA "Triviums"</span>
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <hr />
          <p class="heading"><%= I18n.t("splash.new_contest.reasons.title", { defaultValue: "Reasons to use<br />Idea Academy:" }) %></p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_12 push_4 welcome">
          <div class="v"><%= I18n.t("splash.new_contest.reasons.first", { defaultValue: "Receive original ideas!" }) %></div>
          <div class="v"><%= I18n.t("splash.new_contest.reasons.second", { defaultValue: "Get results in no time!" }) %></div>
        </div>
        <div class="grid_14 push_4 welcome">
          <div class="v"><%= I18n.t("splash.new_contest.reasons.third", { defaultValue: "Bring competitiveness!" }) %></div>
          <div class="v"><%= I18n.t("splash.new_contest.reasons.fourth", { defaultValue: "Earn money!" }) %></div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <div class="hr_cut">
            <a href="/#/new_contest" class="button_1"><%= I18n.t("splash.new_contest.button_text", { defaultValue: "Receive ideas!" }) %></a>
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 2 -->

</div>
<!-- End: div#content.body_container_35 -->
