<h1>New contest request</h1>
<%= form_for(@contest_request, :url => api_contest_requests_path, :remote => true ) do |f| %>
	<%= f.text_field :company_name %>
	<%= f.text_field :name %>
	<div>
		<%= f.fields_for :contest do |a| %>
			Contest fields
			<%= a.text_field :title %>
		<% end %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>
