/// Form ///
= form_tag "/invitations",  method: "POST" do
  %fieldset.inputs
    %legend
      %span List of emails
    %ol
      %li#email-list-input.text.input
        %label.label{for: "email_list_text"} List of emails
        %textarea#email_list_text{name: "invitation_form[email_list"}
        %br
        %br
        = t("invitations_form.email_list.help", default: "Provide a list of emails, seperated by a space or comma, to which the invitations will be sent.")
    = hidden_field_tag "invitation_form[user_id]", current_admin_user.id
    = hidden_field_tag "invitation_form[organization_id]", current_organization.id

  /// Actions ///
  %fieldset.actions
    %ol
      %li.action.input_action#invitation_form_submit_action
        %input{name: "commit", type: "submit", value: "Create Invitations"}
