<div id="contest_container">
  <div class="scroll thin">
    <div class="content_container_16">

      <!-- Start: Grid#content.contest 1 -->
      <div class="grid_16 contest">
        <p class="location"><%= I18n.t("contests.contest.crowdsourcing", { defaultValue: "Crowdsourcing", category: category }) %></p>
        <% if (smaller_logo) { %>
          <img src="<%= smaller_logo %>" class="contest-title-thumbnail" alt="<%= title %>" />
          <h1 class="contest-title with-image"><%= title %></h1>
        <% } else { %>
          <h1 class="contest-title"><%= title %></h1>
        <% } %>
      </div>
      <div class="clear"></div>
      <!-- End: Grid#content.contest 1 -->

      <div id="details_wrap">

        <!-- Start: Grid#content.contest 3 -->
        <div class="grid_16 contest">
          <p class="description"><%= description %></p>
          <div class="thumbnail">
            <img src="<%= logo %>" width="390" height="175" alt="<%= title %>" />
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 3 -->

      </div>

      <!-- Start: Grid#content.contest 2 -->
      <div class="grid_6 contest">
        <!-- <p class="countdown"></p> -->
        <ul class="attributes">
          <li class="countdown"></li>
          <li class="money" title="<%= I18n.t("contests.contest.money", { defaultValue: "You can earn money in this contest" }) %>"><img src="/assets/dollar_sign.png" width="9" height="9" alt="" /></li>
        </ul>
      </div>
      <div class="grid_3 push_7 contest">
        <a class="toggle unfold" href="#details_wrap" data-close="mazāk">vairāk</a>
      </div>
      <div class="clear"></div>
      <!-- End: Grid#content.contest 2 -->

      <!-- Start: Grid#content.contest 3 -->
      <div class="grid_16 contest">
        <div class="finished"></div>
      </div>
      <div class="clear"></div>
      <!-- End: Grid#content.contest 3 -->

      <div id="results_wrap">
      </div>

      <div id="statistics_done_wrap"></div>

    </div>
  </div>
</div>
