<tr>
  <td class="user photo">
    <div class="photo"><a href="#"><img class="photo" src="<%= author_image_url %>" width="38" height="38" alt="<%= author %>" /></a></div>
  </td>
  <td class="user name">
    <% if ( idea_type == 'image' ) { %>
      <img class="idea" src="<%= text %>" alt="<%= text %>" />
    <% } else { %>
      <div class="choice"><%= text %></div>
    <% } %>
  </td>
  <td class="ratio"><%= ratio %></td>
  <td class="wins"><%= wins %></td>
  <td class="total"><%= total_duels %></td>
</tr>
