<!-- Start: Grid#content.contest 10 -->
<div class="grid_16 contest">
  <ul id="statistics_tabs" class="tabs spacer">
    <li class="active" id="tab_best_ideas"><%= I18n.t("contests.contest.statistics.crowdsourcing.title", { defaultValue: "Best ideas" }) %></li>
  </ul>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 10 -->

<!-- Start: Grid#content.contest 11 -->
<div id="statistics_view">
  <div class="grid_16 contest">
    <div id="leaderboard_all">
      <table id="mt" class="leaderboard" cellspacing="0">
        <thead>
          <tr>
            <td class="crowdsourcing-user"><%= I18n.t("contests.contest.statistics.players.title", { defaultValue: "Player" }) %></td>
            <td class="crowdsourcing-idea"><%= I18n.t("contests.contest.statistics.ideas.title", { defaultValue: "Idea" }) %></td>
            <td class="place"><%= I18n.t("contests.contest.statistics.ratio", { defaultValue: "Ratio" }) %></td>
            <td><%= I18n.t("contests.contest.statistics.wins", { defaultValue: "Wins" }) %></td>
            <td><%= I18n.t("contests.contest.statistics.total_duels", { defaultValue: "Duels in" }) %></td>
          </tr>
        </thead>
        <tbody class="all"></tbody>
      </table>
    </div>
  </div>
	<div id="more-ideas-button-container" class="grid_4 contest actions">
		<input type="button" class="grid_4 button orange brackets" data-offset="10" id="load_more_ideas" name="get-more-values" value="<%= I18n.t("contests.contest.statistics.load_more_results", { defaultValue: "Load more results" }) %>" />
	</div>
  <div class="clear"></div>
  
</div>
<!-- End: Grid#content.contest 11 -->