<%= semantic_form_for [:admin, @crowdsourced_contest], :html => { :multipart => true } do |f| %>
  <%= f.inputs "Contest" do %>
    <%= f.input :organization_id, :as => :hidden, :input_html => { :value => current_organization.id }%>
    <%# f.input :is_money, :as => :radio, :label => "Money" %>
    <%= f.input :title %>
    <%= f.input :ends_at, :start_year => Time.now.year, :minute_step => 15, :include_blank => false %>
    <%= f.input :description %>
    <%# f.input :award_value %>
  <% end %>

  <%= f.inputs "Attributes" do %>
    <% unless f.object.active? %>
      <%= f.input :typekey, :as => :select, :include_blank => false, :collection => ["text", "image", "video"] %>
      <%= f.input :facebook_category, :as => :select, :collection => FacebookCategory.all, :include_blank => false %>
      <%= f.input :language, :as => :select, :collection => LanguageList::IDEA_ACADEMY, :include_blank => false %>
      <%= f.input :active_flag %>
    <% else %>
      <% [ :typekey, :facebook_category, :award, :users_per_room, :rooms_count, :language ].each do |attrib| %>
        <li class="input" >
          <div class="label"><%= f.object.class.human_attribute_name(attrib) %></div>
          <div class="input-readonly"><%= f.object.attribute_value(attrib) %></div>
        </li>
      <% end %>

      <%= f.input :active_flag, :input_html => { :disabled => true } %>
    <% end %>
  <% end %>

  <%= f.inputs "Logo" do %>
    <%= f.input :logo, 
            :as => :file, 
            :hint => ( f.object.logo? ? f.template.image_tag(f.object.logo_image) : false ) %>
  <% end %>

  <%= f.inputs "Smaller logo (shown at title)" do %>
    <%= f.input :smaller_logo, 
            :as => :file, 
            :hint => ( f.object.smaller_logo? ? f.template.image_tag(f.object.smaller_logo.url(:thumbnail)) : false ) %>
  <% end %>

  <%= f.actions %>
<% end %>