<a class="dropbox footer_menu_link" href="#contests"><strong><%= I18n.t("footer.contests.link", { defaultValue: "Contests" }) %></strong></a>
<div id="contests" class="box wide">
  <h1><%= I18n.t("footer.contests.title", { defaultValue: "Contests" }) %></h1>
  <div id="footer_contests_list_wrap"></div>
</div>
