<ul class="right">
  <li>
    <a class="dropbox" rel="right" href="#updates"><%= I18n.t("footer.log_activities.link_title", { defaultValue: "News" }) %> (<span id="updates_count">0</span><strong>+<span id="updates_count_new">0</span></strong>)</a>
    <div id="updates" class="box wide">
      <h1><%= I18n.t("footer.log_activities.title", { defaultValue: "News" }) %></h1>
      <div id="updates_wrap">
        <div class="loading_small"></div>
      </div>
    </div>
  </li>
</ul>
