<a class="dropbox footer_menu_link" href="#statistics_categories"><%= I18n.t("footer.statistics.link_title", { defaultValue: "Statistics" }) %></a>
<div id="statistics_categories" class="box">
  <h1><%= I18n.t("footer.statistics.title", { defaultValue: "Themes" }) %></h1>

</div>
