<%= render :partial => "/static/partials/header_user" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_1 contest">
    <a href="/contest">
      <div class="slide previous">
        <div class="tooltip">
          <div class="tooltip_wrap">
            <h6>Kā izskatās aktīvais konkurss?</h6>
            <div class="countdown">60:00</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="grid_19 push_7">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest">
          <p class="location">» Konkursi » Lauksaimniecība »</p>
          <h1>Kā izskatās noslēdzies konkurss?</h1>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 2 -->
        <div class="grid_3 push_13 contest">
          <div class="toggle unfold">atvērt</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 2 -->

        <!-- Start: Grid#content.contest 3 -->
        <div class="grid_16 contest">
          <div class="finished"></div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 3 -->

        <!-- Start: Grid#content.contest 3 -->
        <div class="grid_16 contest">
          <p class="results">Tu esi iesniedzis <span>40 idejas</span></p>
          <p class="results">Kopā konkursā piedalījās <span>100&nbsp;spēlētāju</span>, kuri tika sadalīti <span>10&nbsp;istabās</span></p>
          <p class="results">Neviena no tavām idejām netika top3</p>
          <p class="results"><a href="/profile">Vārds Uzvārds</a> ieguva <span>12 latus</span>, sasniedzot pirmo vietu</p>
          <p class="results">Vēl stati <span>tekstā</span></p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 3 -->

        <!-- Start: Grid#content.contest 10 -->
        <div class="grid_16 contest">
          <ul class="tabs spacer">
            <li class="active">Tava istaba</li><li class="seperate">Kopvērtējums</li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 10 -->

        <!-- Start: Grid#content.contest 10 -->
        <div class="grid_16 contest">
          <ul class="tabs">
            <li class="active">Spēlētāji</li><li class="seperate">Idejas</li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 10 -->

        <!-- Start: Grid#content.contest 11 -->
        <div class="grid_16 contest">
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="user" colspan="3">Letotājs</td>
              <td class="place">Vieta</td>
              <td>Punkti</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge first"></td>
              <td class="user name place">Vārds Uzvārds</td>
              <td class="place">1</td>
              <td>9000</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge second"></td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">2</td>
              <td>8640</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge third"></td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">3</td>
              <td>7050</td>
            </tr>
            <tr>
              <td class="more" colspan="5"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge first"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">23</td>
              <td>4050</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge second"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">26</td>
              <td>3500</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge third"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">29</td>
              <td>2650</td>
            </tr>
            <tr>
              <td class="more" colspan="5"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr class="me">
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge me"></td>
              <td class="user name">Vārds Uzvārds (mans)</td>
              <td class="place">99</td>
              <td>250</td>
            </tr>
            <tr>
              <td class="more" colspan="5"><strong>vairāk</strong> (20)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge first"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">101</td>
              <td>175</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge second"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">125</td>
              <td>50</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge third"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">139</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 11 -->

        <!-- Start: Grid#content.contest 10 -->
        <div class="grid_16 contest">
          <ul class="tabs">
            <li>Spēlētāji</li><li class="seperate active">Idejas</li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 10 -->

        <!-- Start: Grid#content.contest 11 -->
        <div class="grid_16 contest">
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="user" colspan="2">Ideja</td>
              <td class="place">Uzvaras</td>
              <td>Punkti</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds:</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>10/10</td>
              <td>9000</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds:</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>9/10</td>
              <td>8640</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds:</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>7/10</td>
              <td>7050</td>
            </tr>
            <tr>
              <td class="more" colspan="4"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds (draugs):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>6/10</td>
              <td>4050</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds (draugs):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>5/10</td>
              <td>3500</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds (draugs):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>4/10</td>
              <td>2650</td>
            </tr>
            <tr>
              <td class="more" colspan="4"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr class="me">
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice me"><span>Vārds Uzvārds (mans):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>3/10</td>
              <td>250</td>
            </tr>
            <tr>
              <td class="more" colspan="4"><strong>vairāk</strong> (20)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds (draugs):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>2/10</td>
              <td>175</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds (draugs):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>1/10</td>
              <td>50</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user">
                <div class="choice"><span>Vārds Uzvārds (draugs):</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </td>
              <td>0/10</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 11 -->

      </div>
    </div>
  </div>

  <div class="grid_1 push_13 contest">
    <a href="/contest/guest">
      <div class="slide next">
        <div class="tooltip">
          <div class="tooltip_wrap">
            <h6>Kā izskatās konkurss, kad lietotājs nav autorizējies?</h6>
            <div class="countdown">60:00</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

<%= render :partial => "/static/partials/footer" %>