<%= render :partial => "/static/partials/header_guest" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_1 contest">
    <a href="/results">
      <div class="slide previous">
        <div class="tooltip">
          <div class="tooltip_wrap">
            <h6>Kā izskatās noslēdzies konkurss?</h6>
            <div class="countdown" style="display: block;">60:00</div>
            <div class="coin"></div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="grid_19 push_7">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest">
          <p class="location">» Konkursi » Lauksaimniecība »</p>
          <h1>Kā izskatās konkurss, kad lietotājs nav autorizējies?</h1>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 2 -->
        <div class="grid_3 contest">
          <p class="countdown" style="display: block;">60:00</p>
        </div>
        <div class="grid_3 push_10 contest">
          <div class="toggle unfold">atvērt</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 2 -->

        <!-- Start: Grid#content.contest 4 -->
        <div class="grid_16 contest">
          <p>Kura no idejām <strong>A</strong> vai <strong>B</strong> tev patīk labāk?</p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 4 -->

        <!-- Start: Grid#content.contest 5 -->
        <div class="grid_12 contest">
          <div class="choice arrow">
            <span class="ribbon A"></span>
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
        <div class="grid_4 contest">
          <input type="button" class="button green brackets grid_4" name="vote" value="Balsot" />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 5 -->

        <!-- Start: Grid#content.contest 6 -->
        <div class="grid_12 contest">
          <div class="choice arrow">
            <span class="ribbon B"></span>
            Lorem Ipsum passages
          </div>
        </div>
        <div class="grid_4 contest">
          <input type="button" class="grid_4 button green brackets" name="vote" value="Balsot" />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 6 -->

        <!-- Start: Grid#content.contest 7 -->
        <div class="grid_16 contest">
          <p style="text-align: right;"><a class="small" href="#">nepatīk?</a></p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 7 -->

      </div>
    </div>
  </div>

  <div class="grid_1 push_13 contest">
    <a href="/contest">
      <div class="slide next">
        <div class="tooltip">
          <div class="tooltip_wrap">
            <h6>Virsraksts</h6>
            <div class="countdown" style="display: block;">60:00</div>
            <div class="coin"></div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>