<%= render :partial => "/static/partials/header_user" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 2 -->
  <div class="grid_33 push_1">
    <div class="scroll wide">
      <div class="content_container_32">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 statistics">
          <p class="location">» Konkursi » Statistika »</p>
          <h1>Politika</h1>
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="topic">Tēma</td>
              <td class="date">Datums</td>
              <td class="participate">Piedalos</td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest">Kā izskatās aktīvais konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate active"></td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest/guest">Kā izskatās konkurss, kad lietotājs nav autorizējies?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest">Kā izskatās aktīvais konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate active"></td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest/guest">Kā izskatās konkurss, kad lietotājs nav autorizējies?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic"><a href="/results">Kā izskatās noslēdzies konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic"><a href="/results">Kā izskatās noslēdzies konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic"><a href="/results">Kā izskatās noslēdzies konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate active"></td>
            </tr>
          </table>
          <hr />
          <ul class="status">
            <li>Šajā tēmā tu esi iesniedzis <strong>10 idejas</strong>, no kurām iekš <strong>top3</strong> tika <strong>4</strong></li>
            <li>Šajā tēmā ir piedalījušies <strong>12 tavi draugi</strong></li>
            <li>Šajā tēmā kopā ir bijuši <strong>10 konkursi</strong></li>
          </ul>
          <hr />
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="user" colspan="2">Letotājs</td>
              <td class="place">Vieta</td>
              <td>Vērtēšana</td>
              <td>Idejas</td>
              <td>Kopā</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name place">Vārds Uzvārds</td>
              <td class="place">1</td>
              <td>4500</td>
              <td>4500</td>
              <td>9000</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">2</td>
              <td>640</td>
              <td>8000</td>
              <td>8640</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">3</td>
              <td>6000</td>
              <td>1050</td>
              <td>7050</td>
            </tr>
            <tr>
              <td class="more" colspan="6"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">23</td>
              <td>150</td>
              <td>3900</td>
              <td>4050</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">26</td>
              <td>2000</td>
              <td>1500</td>
              <td>3500</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">29</td>
              <td>1900</td>
              <td>1750</td>
              <td>2650</td>
            </tr>
            <tr>
              <td class="more" colspan="6"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr class="me">
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (mans)</td>
              <td class="place">99</td>
              <td>225</td>
              <td>25</td>
              <td>250</td>
            </tr>
            <tr>
              <td class="more" colspan="6"><strong>vairāk</strong> (20)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">101</td>
              <td>60</td>
              <td>115</td>
              <td>175</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">125</td>
              <td>40</td>
              <td>10</td>
              <td>50</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">139</td>
              <td>5</td>
              <td>5</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="grid_16 statistics">
          <p class="location">» Konkursi » Statistika »</p>
          <h1>Lauksaimniecība</h1>
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="topic">Tēma</td>
              <td class="date">Datums</td>
              <td class="participate">Piedalos</td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest">Kā izskatās aktīvais konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate active"></td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest/guest">Kā izskatās konkurss, kad lietotājs nav autorizējies?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest">Kā izskatās aktīvais konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate active"></td>
            </tr>
            <tr>
              <td class="topic active"><a href="/contest/guest">Kā izskatās konkurss, kad lietotājs nav autorizējies?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic"><a href="/results">Kā izskatās noslēdzies konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic"><a href="/results">Kā izskatās noslēdzies konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate"></td>
            </tr>
            <tr>
              <td class="topic"><a href="/results">Kā izskatās noslēdzies konkurss?</a></td>
              <td class="date">26/01/2011</td>
              <td class="participate active"></td>
            </tr>
          </table>
          <hr />
          <ul class="status">
            <li>Šajā tēmā tu esi iesniedzis <strong>10 idejas</strong>, no kurām iekš <strong>top3</strong> tika <strong>4</strong></li>
            <li>Šajā tēmā ir piedalījušies <strong>12 tavi draugi</strong></li>
            <li>Šajā tēmā kopā ir bijuši <strong>10 konkursi</strong></li>
          </ul>
          <hr />
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="user" colspan="2">Letotājs</td>
              <td class="place">Vieta</td>
              <td>Vērtēšana</td>
              <td>Idejas</td>
              <td>Kopā</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name place">Vārds Uzvārds</td>
              <td class="place">1</td>
              <td>4500</td>
              <td>4500</td>
              <td>9000</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">2</td>
              <td>640</td>
              <td>8000</td>
              <td>8640</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">3</td>
              <td>6000</td>
              <td>1050</td>
              <td>7050</td>
            </tr>
            <tr>
              <td class="more" colspan="6"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">23</td>
              <td>150</td>
              <td>3900</td>
              <td>4050</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">26</td>
              <td>2000</td>
              <td>1500</td>
              <td>3500</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">29</td>
              <td>1900</td>
              <td>1750</td>
              <td>2650</td>
            </tr>
            <tr>
              <td class="more" colspan="6"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr class="me">
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (mans)</td>
              <td class="place">99</td>
              <td>225</td>
              <td>25</td>
              <td>250</td>
            </tr>
            <tr>
              <td class="more" colspan="6"><strong>vairāk</strong> (20)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">101</td>
              <td>60</td>
              <td>115</td>
              <td>175</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">125</td>
              <td>40</td>
              <td>10</td>
              <td>50</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">139</td>
              <td>5</td>
              <td>5</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 2 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>