<%= render :partial => "/static/partials/header_user" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_1 contest">
    <a href="/contest/guest">
      <div class="slide previous">
        <div class="tooltip">
          <div class="tooltip_wrap">
            <h6>Kā izskatās konkurss, kad lietotājs nav autorizējies?</h6>
            <div class="countdown">60:00</div>
            <div class="coin"></div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="grid_19 push_7">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest">
          <p class="location">» Konkursi » Lauksaimniecība »</p>
          <h1>Kā izskatās aktīvais konkurss?</h1>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 2 -->
        <div class="grid_3 contest">
          <p class="countdown">60:00</p>
        </div>
        <div class="grid_3 push_10 contest">
          <div class="toggle unfold">atvērt</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 2 -->

        <!-- Start: Grid#content.contest 3 -->
        <div class="grid_16 contest">
          <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <div class="thumbnail" style="background-image: url('http://placekitten.com/g/390/175');"></div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 3 -->

        <!-- Start: Grid#content.contest 4 -->
        <div class="grid_3 contest">
          <p class="countdown">60:00</p>
        </div>
        <div class="grid_3 push_10 contest">
          <div class="toggle fold">aizvērt</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 4 -->

        <!-- Start: Grid#content.contest 4 -->
        <div class="grid_16 contest">
          <p class="heading">Kura no idejām <strong>A</strong> vai <strong>B</strong> tev patīk labāk?</p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 4 -->

        <!-- Start: Grid#content.contest 5 -->
        <div class="grid_12 contest">
          <div class="choice arrow">
            <span class="ribbon A"></span>
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
        <div class="grid_4 contest">
          <input type="button" class="button green brackets grid_4" name="vote" value="Balsot" />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 5 -->

        <!-- Start: Grid#content.contest 6 -->
        <div class="grid_12 contest">
          <div class="choice arrow">
            <span class="ribbon B"></span>
            Lorem Ipsum passages
          </div>
        </div>
        <div class="grid_4 contest">
          <input type="button" class="grid_4 button green brackets" name="vote" value="Balsot" />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 6 -->

        <!-- Start: Grid#content.contest 7 -->
        <div class="grid_16 contest">
          <p style="text-align: right;"><a class="small" href="#">nepatīk?</a></p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 7 -->

        <!-- Start: Grid#content.contest 8 -->
        <div class="grid_16 contest">
          <p class="heading">Ieraksti idejas &mdash; <strong>Pelni punktus!</strong></p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 8 -->

        <!-- Start: Grid#content.contest 9 -->
        <div class="grid_2 user">
          <div class="user">
            <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
          </div>
        </div>
        <div class="grid_10 contest">
          <div class="idea">
            <input class="idea" type="text" name="idea" value="Manuprāt..." />
          </div>
        </div>
        <div class="grid_4 contest">
          <input type="button" class="grid_4 button orange brackets" name="post" value="Iesniegt" />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 9 -->

        <!-- Start: Grid#content.contest 10 -->
        <div class="grid_16 contest">
          <ul class="tabs spacer">
            <li class="active">Spēlētāji</li><li class="seperate">Manas idejas</li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 10 -->

        <!-- Start: Grid#content.contest 11 -->
        <div class="grid_16 contest">
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="user" colspan="3">Letotājs</td>
              <td class="place">Vieta</td>
              <td>Punkti</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge first"></td>
              <td class="user name place">Vārds Uzvārds</td>
              <td class="place">1</td>
              <td>9000</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge second"></td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">2</td>
              <td>8640</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge third"></td>
              <td class="user name">Vārds Uzvārds</td>
              <td class="place">3</td>
              <td>7050</td>
            </tr>
            <tr>
              <td class="more" colspan="5"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge first"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">23</td>
              <td>4050</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge second"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">26</td>
              <td>3500</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge third"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">29</td>
              <td>2650</td>
            </tr>
            <tr>
              <td class="more" colspan="5"><strong>vairāk</strong> (40)</td>
            </tr>
            <tr class="me">
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge me"></td>
              <td class="user name">Vārds Uzvārds (mans)</td>
              <td class="place">99</td>
              <td>250</td>
            </tr>
            <tr>
              <td class="more" colspan="5"><strong>vairāk</strong> (20)</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge first"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">101</td>
              <td>175</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge second"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">125</td>
              <td>50</td>
            </tr>
            <tr>
              <td class="user photo">
                <div class="photo" style="background-image: url('http://placekitten.com/g/38/38');"></div>
              </td>
              <td class="badge third"></td>
              <td class="user name">Vārds Uzvārds (draugs)</td>
              <td class="place">139</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 11 -->

      </div>
    </div>
  </div>

  <div class="grid_1 push_13 contest">
    <a href="/results">
      <div class="slide next">
        <div class="tooltip">
          <div class="tooltip_wrap">
            <h6>Kā izskatās noslēdzies konkurss?</h6>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>