<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="ten_points"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Šobrīd tev ir 10 punkti!</h1>
      <p>Lai jebkurā brīdī uzzinātu, cik esi savācis, skaties lapas augšā!</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>