<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <h1>Pelni vairāk!</h1>
      <p>Ja gribi iegūt papildus punktus, iesniedz savu ideju un ļauj citiem par to balsot!</p>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <div class="earn_more"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>
  </div>
</div>