<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="bulb"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Sasniegumi</h1>
      <ul class="achievement">
        <li class="badge_1">1</li>
        <li class="badge_2">2</li>
        <li class="badge_3">3</li>
        <li class="badge_4">4</li>
        <li class="badge_5">5</li>
        <li class="badge_6">6</li>
        <li class="badge_7">7</li>
        <li class="badge_8">8</li>
        <li class="badge_9">9</li>
        <li class="badge_10">10</li>
        <li class="badge_11">11</li>
        <li class="badge_12">12</li>
        <li class="badge_13">13</li>
        <li class="badge_14">14</li>
        <li class="badge_15">15</li>
        <li class="badge_16">16</li>
      </ul>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Aizvērt" />
    </div>
    <div class="clear"></div>

  </div>
</div>