<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="like_idea">
        <div class="user from" style="background-image: url('http://placekitten.com/g/62/66');"></div>
        <div class="points">2</div>
        <div class="user to" style="background-image: url('http://placekitten.com/g/62/66');"></div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Sigitai patīk Tava ideja!</h1>
      <p>Sigitai Kirilovai patīk Tava ideja, tāpēc Tu saņem +2&nbsp;punktus <strong>Mūzika</strong> tēmā.</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>