<div class="popup_blank">
  <div class="content_container_32">

    <div class="grid_24">
      <h1>Noteikumi</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis velit nulla. Curabitur vitae dapibus arcu. Integer condimentum interdum condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin dui ligula, accumsan in lobortis sed, volutpat id arcu. Sed a felis at erat adipiscing scelerisque in eu velit. Aenean varius diam a eros venenatis eget fringilla velit tincidunt. Donec lacinia ornare leo sit amet sagittis. Aenean semper elementum massa in porttitor. In suscipit ante vitae mauris placerat at fringilla magna volutpat. Etiam id sem ac justo vehicula auctor at eleifend arcu. Pellentesque ullamcorper accumsan nisi eget porttitor.</p>
      <p>Aenean dignissim tempus lobortis. Quisque semper vehicula neque, nec lobortis lorem commodo in. Vestibulum pretium justo vitae lacus dictum ac pretium turpis hendrerit. In eleifend, libero elementum aliquam ullamcorper, nisl sapien pellentesque neque, eget vehicula mi nunc ut nisl. Nullam ut sapien ipsum, ac pellentesque nisi. Sed mattis pretium dolor sit amet imperdiet.</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget sapien non nisl aliquet eleifend. Sed id erat sollicitudin neque dapibus ultricies id id nisl. Duis id nibh est, sit amet fermentum orci. Mauris et purus felis. Maecenas convallis pulvinar odio imperdiet rhoncus. Etiam pharetra blandit semper.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis velit nulla. Curabitur vitae dapibus arcu. Integer condimentum interdum condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin dui ligula, accumsan in lobortis sed, volutpat id arcu. Sed a felis at erat adipiscing scelerisque in eu velit. Aenean varius diam a eros venenatis eget fringilla velit tincidunt. Donec lacinia ornare leo sit amet sagittis. Aenean semper elementum massa in porttitor. In suscipit ante vitae mauris placerat at fringilla magna volutpat. Etiam id sem ac justo vehicula auctor at eleifend arcu. Pellentesque ullamcorper accumsan nisi eget porttitor.</p>
    </div>
    <div class="clear"></div>

  </div>
</div>