<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="first_points"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Tavi pirmie +2 punkti!</h1>
      <p>Novērtē vēl, lai dabūtu vēl! Izlem kārtīgi! :)</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>