<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="bulb"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Lieliski<br />Tu esi savācis labu daudzumu punktu!</h1>
      <p>Lai saglabātu punktus un sacenstos ar draugiem, un pelnītu naudu, lūdzu, ielogojies izmantojot</p>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <ul class="social">
        <li class="twitter"><a href="/profile">tw</a></li>
        <li class="facebook"><a href="/profile">fb</a></li>
        <li class="draugiem"><a href="/profile">dr</a></li>
      </ul>
    </div>
    <div class="clear"></div>

  </div>
</div>