<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="logo"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Esi sveicināts Ideju Akadēmijā!</h1>
      <p>Lai iegūtu savus pirmos punktus, nobalso par ideju, kura Tev patīk labāk!</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>