<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="first_achievement_badge"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Tavs pirmais sasniegums!</h1>
      <p>Skaties augšējā panelī, lai redzētu, kurš grāds tev ir šobrīd un cik tev vajag līdz nākamajam!</p>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <div class="first_achievement"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>