<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="bulb"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Paziņojuma logs</h1>
      <p>Šis ir defaultais paziņojuma logs.</p>
      <hr />
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>