<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_5">
      <div class="profile_edit_image"></div>
    </div>
    <div class="grid_11">
      <h1 class="left">Fotogrāfijas maiņa</h1>
      <p class="left">Lai nomainītu sava profila fotogrāfiju <strong>Ideju Akadēmijā</strong>, izvēlies bildi no sava datora. Bildē jābut redzamam Tev!</p>
    </div>
    <div class="clear"></div>

  </div>
</div>