<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="money"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Tu esi sasniedzis Bakalora līmeni!</h1>
      <p>Lai sāktu pelnīt īstu nadu ar savām idejām, Tev jāsasniedz līmenis "Maģistrs 3"!</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>