<div class="popup_430">
  <div class="content_container_16">

    <div class="grid_16">
      <div class="other_themes"></div>
    </div>
    <div class="clear"></div>

    <div class="grid_16">
      <h1>Citas tēmas</h1>
      <p>Tev ir pieejami arī līdzīgi konkursi citās tēmās, dodies uz tēmu, lai apskatītu esošos konkursus.</p>
    </div>
    <div class="clear"></div>

    <div class="grid_8 push_4">
      <input class="button_1 green" type="button" value="Turpināt »" />
    </div>
    <div class="clear"></div>

  </div>
</div>