<%= render :partial => "/static/partials/header_user" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_19 push_8">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <p class="location">» Popup »</p>
          <h1>Sagrieztie popup</h1>
          <a class="popup" href="/static/popup/tos">Terms of service popup</a><br />
          <a class="popup" href="/static/popup/default">Default popup</a><br />
          <a class="popup" href="/static/popup/welcome">Welcome popup</a><br />
          <a class="popup" href="/static/popup/money">Money popup</a><br />
          <a class="popup" href="/static/popup/first_points">First points popup</a><br />
          <a class="popup" href="/static/popup/ten_points">10 points popup</a><br />
          <a class="popup" href="/static/popup/other_themes">Other themes popup</a><br />
          <a class="popup" href="/static/popup/social">Social popup</a><br />
          <a class="popup" href="/static/popup/earn_more">Earn more popup</a><br />
          <a class="popup" href="/static/popup/first_achievement">First achievement popup</a><br />
          <a class="popup" href="/static/popup/achievement">Achievement popup</a><br />
          <a class="popup" href="/static/popup/like_idea">Like idea popup</a><br />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>