<%= render :partial => "/static/partials/header_user" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_19 push_8">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <p class="location">» Lietotāji » Profils »</p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 2 -->
        <div class="grid_10 contest profile">
          <h1>Vārds</h1>
          <h1>Uzvārds</h1>
          <p class="edit"><a href="/profile/edit">labot profilu</a></p>
          <ul class="social">
            <li class="twitter"><a href="/profile">tw</a></li>
            <li class="facebook"><a href="/profile">fb</a></li>
            <li class="draugiem"><a href="/profile">dr</a></li>
            <li class="email"><a href="/profile">dr</a></li>
          </ul>
          <ul class="contacts">
            <li class="phone">telefons: <strong>+371 20000000</strong></li>
            <li class="email">e-pasts: <a href="mailto:email@domain.lv">email@domain.lv</a></li>
            <li class="website">mājaslapa: <a href="http://www.domain.lv/" target="_new">www.domain.lv</a></li>
          </ul>
        </div>
        <div class="grid_6 contest profile">
          <div class="photo" style="background-image: url('http://placekitten.com/g/125/150');"></div>
          <div class="tag">Darba meklējumos</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 2 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <p class="about"><span>Par mani:</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <p class="earned"><span>esmu</span> nopelnījis <span><strong>10 Ls</strong></span> (<a href="#">izņemt</a>)</p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_8 contest profile">
          <h6>mana ideju aktivitāte</h6>
          <table class="leaderboard double" cellspacing="0">
            <tr>
              <td class="theme">Tēma</td>
              <td class="percent">Procenti</td>
            </tr>
            <tr class="theme">
              <td class="theme">Politika</td>
              <td class="percent">10%</td>
            </tr>
            <tr class="theme">
              <td class="theme">PR</td>
              <td class="percent">20%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Sadzīve</td>
              <td class="percent">30%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Māksla</td>
              <td class="percent">5%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Internets</td>
              <td class="percent">5%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Mūzika</td>
              <td class="percent">30%</td>
            </tr>
          </table>
        </div>
        <div class="grid_8 contest profile">
          <h6>mana vērtēšanas aktivitāte</h6>
          <table class="leaderboard double" cellspacing="0">
            <tr>
              <td class="theme">Tēma</td>
              <td class="percent">Procenti</td>
            </tr>
            <tr class="theme">
              <td class="theme">Politika</td>
              <td class="percent">10%</td>
            </tr>
            <tr class="theme">
              <td class="theme">PR</td>
              <td class="percent">20%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Sadzīve</td>
              <td class="percent">30%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Māksla</td>
              <td class="percent">5%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Internets</td>
              <td class="percent">5%</td>
            </tr>
            <tr class="theme">
              <td class="theme">Mūzika</td>
              <td class="percent">30%</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <h6>kopvērtējums</h6>
          <table class="leaderboard" cellspacing="0">
            <tr>
              <td class="user">Tēma</td>
              <td>Vērtēšana</td>
              <td>Idejas</td>
              <td class="achievment">Sasniegums</td>
            </tr>
            <tr class="theme">
              <td class="user">Politika</td>
              <td>4000</td>
              <td>100</td>
              <td class="achievment"><span class="first">4100</span></td>
            </tr>
            <tr class="theme">
              <td class="user">PR</td>
              <td>250</td>
              <td>250</td>
              <td class="achievment"><span class="second">500</span></td>
            </tr>
            <tr class="theme">
              <td class="user">Sadzīve</td>
              <td>250</td>
              <td>250</td>
              <td class="achievment"><span class="third">500</span></td>
            </tr>
            <tr class="theme">
              <td class="user">Māksla</td>
              <td>300</td>
              <td>200</td>
              <td class="achievment"><span class="fourth">500</span></td>
            </tr>
            <tr class="theme">
              <td class="user">Internets</td>
              <td>50</td>
              <td>450</td>
              <td class="achievment"><span class="fifth">500</span></td>
            </tr>
            <tr class="theme">
              <td class="user">Mūzika</td>
              <td>475</td>
              <td>25</td>
              <td class="achievment"><span class="sixth">500</span></td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <ul class="awards">
            <li class="green">3 top 10 kausi</li>
            <li class="orange">Godīgs Vērtētājs</li>
            <li class="blue">3 Veikuma kausi</li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <h6>Manas 10 labākās idejas</h6>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>1.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>2.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>3.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>4.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>5.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>6.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>7.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>8.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>9.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_1 contest profile">
          <h6>10.</h6>
        </div>
        <div class="grid_15 contest profile">
          <div class="choice"><a href="/contest">Kā izskatās aktīvais konkurss?</a> | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>