<%= render :partial => "/static/partials/header_user" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_19 push_8">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <p class="location">» Profils » Labot profilu » Vārds Uzvārds</p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <form id="form_edit_profile" action="#" method="post">

          <!-- Start: Grid#content.contest 2 -->
          <div class="grid_10 contest profile">
            <ol>
              <li>
                <label for="user_first_name"><strong>Vārds</strong></label>
                <input id="user_first_name" type="text" name="user[first_name]" value="Vārds" />
              </li>
              <li>
                <label for="user_last_name"><strong>Uzvārds</strong></label>
                <input id="user_last_name" type="text" name="user[last_name]" value="Uzvārds" />
              </li>
              <li>
                <label for="user_phone_number">Telefons</label>
                <input id="user_phone_number" type="text" name="user[phone_number]" value="+371 20000000" />
              </li>
              <li>
                <label for="user_email">E-pasts</label>
                <input id="user_email" type="text" name="user[email]" value="email@domain.lv" />
              </li>
              <li>
                <label for="user_website">Mājaslapa</label>
                <input id="user_website" type="text" name="user[website]" value="http://www.domain.lv/" />
              </li>
              <li>
                <input id="user_work_tag" type="checkbox" name="user[work_tag]" />
                <label for="user_work_tag"><strong>Meklēju darbu</strong></label>
              </li>
            </ol>
          </div>
          <div class="grid_6 contest profile">
            <div class="photo" style="background-image: url('http://placekitten.com/g/125/150');"></div>
            <p class="edit"><a class="popup" href="/popup/profile_edit_image">mainīt attēlu</a></p>
            <h6 class="invite">autorizēties ar</h6>
            <ul class="social">
              <li class="twitter"><a href="/profile">tw</a></li>
              <li class="facebook"><a href="/profile">fb</a></li>
              <li class="draugiem"><a href="/profile">dr</a></li>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- End: Grid#content.contest 2 -->

          <!-- Start: Grid#content.contest 1 -->
          <div class="grid_16 contest profile">
            <ol>
              <li>
                <label for="user_about">Par mani</label>
                <textarea id="user_about" name="user[about]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</textarea>
              </li>
            </ol>
          </div>
          <div class="clear"></div>
          <!-- End: Grid#contest.contest 1 -->

          <!-- Start: Grid#content.contest 1 -->
          <div class="grid_8 push_4 contest profile">
            <input class="button_1 green" type="button" name="user[submit]" value="Saglabāt" />
          </div>
          <div class="clear"></div>
          <!-- End: Grid#contest.contest 1 -->

        </form>

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>