<%= render :partial => "/static/partials/header_guest" %>

<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 2 -->
  <div class="grid_33 push_1">
    <div class="scroll wide">
      <div class="content_container_32">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <div class="logo"></div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_20 push_6 welcome">
          <ul class="steps">
            <li class="first">Tiek prezentēti jautājumi</li>
            <li class="second">Iesniedz savas idejas</li>
            <li class="third">Pelni naudu</li>
          </ul>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <div class="hr_cut">
            <a href="/contest/guest" class="button_1">Spēlēt tagad!</a>
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <p class="heading">Ideju Akadēmija dod iespēju spēlētājiem aizraujošā veidā atklāt savus radošos talantus, iegūt balvas un pelnīt naudu, veidot savu reputāciju un darbu portfolio, kā arī iegūt grādus ideju zinātnē.</p>
          <hr />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('http://placekitten.com/g/73/73');"></div>
          <div class="testimonial">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<span>Kaķis #1</span>
          </div>
        </div>
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('http://placekitten.com/g/73/73');"></div>
          <div class="testimonial">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<span>Kaķis #1</span>
          </div>
        </div>
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('http://placekitten.com/g/73/73');"></div>
          <div class="testimonial">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<span>Kaķis #1</span>
          </div>
        </div>
        <div class="grid_8 welcome">
          <div class="testimonial_image" style="background-image: url('http://placekitten.com/g/73/73');"></div>
          <div class="testimonial">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<span>Kaķis #1</span>
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <hr />
          <p class="heading">Līdz šim ir notikuši ap 30 konkursu. Spēlē dažādos uzdevumos līdz šim ir iesaistījušies kopumā 1100 spēlētāju. Piemēri risināmiem uzdevumiem:</p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_12 push_4 welcome">
          <div class="v">Saukļu izdomāšana</div>
          <div class="v">Lozungi</div>
        </div>
        <div class="grid_14 push_4 welcome">
          <div class="v">Idejas inovatīvām kampaņām</div>
          <div class="v">Kā arī receptes, Vārdi u.c.</div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_32 welcome">
          <div class="hr_cut">
            <a href="/contest/guest" class="button_1">Sākt spēli</a>
          </div>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 2 -->

</div>
<!-- End: div#content.body_container_35 -->

<%= render :partial => "/static/partials/footer" %>