/* Tiny Scrollbar */
#scrollbar { width: 100%; }
#scrollbar .viewport { width: 100%; height: 800px; overflow: hidden; position: relative; }
#scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; height: 800px; }
#scrollbar .scrollbar{ position: absolute; top: 0; right: 0; background-position: 0 0; width: 2px; z-index: 60000;}
#scrollbar .track { height: 100%; width:2px; position: relative; padding: 0 1px; }
#scrollbar .thumb { background: #4fa2a6; height: 20px; width: 2px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px; }
#scrollbar .thumb .end { overflow: hidden; height: 0px; width: 0px; }
#scrollbar .disable { display: none; }

#scrollbar1 { width: 980px; clear: both; margin: 0 auto; }
#scrollbar1 .viewport { width: 977px; height: 800px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #4fa2a6; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 3px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:3px; position: relative; padding: 0; }
#scrollbar1 .thumb { height: 20px; width: 3px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 3px; }
#scrollbar1 .disable{ display: none; }

.popup-scrollbar { width: 410px; clear: both; margin: 0; }
.popup-scrollbar .viewport { width: 407px; height: 800px; overflow: hidden; position: relative; }
.popup-scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
.popup-scrollbar .thumb .end,
.popup-scrollbar .thumb { background-color: #4fa2a6; }
.popup-scrollbar .scrollbar { position: relative; float: right; width: 3px; }
.popup-scrollbar .track { background-color: #D8EEFD; height: 100%; width:3px; position: relative; padding: 0; }
.popup-scrollbar .thumb { height: 20px; width: 3px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.popup-scrollbar .thumb .end { overflow: hidden; height: 5px; width: 3px; }
.popup-scrollbar .disable{ display: none; }
