= semantic_form_for [:admin, @invitation] do |f|
  = f.inputs "Invitation" do
    = f.input :email
    = f.hidden_field :organization_id, value: (f.object.organization_id || current_organization.id)
    = f.hidden_field :inviter_id, value: (f.object.inviter_id || current_admin_user.id)
  = f.actions
