<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_19 push_8">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest profile">
          <p class="location"><%= I18n.t("users.profile.breadcrumb", { defaultValue: "» Users » Profile »" }) %></p>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <div id="user_profile_wrap">
          <div class="loading_scroll_small"></div>
        </div>

        <div id="user_profile_statistics_wrap">
          <div class="loading_scroll_small"></div>
        </div>

        <div id="user_profile_awards_wrap">
          <!-- <div class="loading_scroll_small"></div> -->
          <!-- Start: Grid#content.contest 1 -->
          <div class="grid_16 contest profile">
            <ul class="awards">
              <!-- <li class="orange">Godīgs Vērtētājs</li> -->
              <li class="green"><span id="top5_cups">0</span><%= I18n.t("users.show.top5_cups", { defaultValue: "x top5 cups" }) %></li>
              <!-- <li class="blue">0 Veikuma kausi</li> -->
            </ul>
          </div>
          <div class="clear"></div>
          <!-- End: Grid#contest.contest 1 -->
        </div>

        <div id="user_profile_ideas_wrap">
          <div class="loading_scroll_small"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->
