<div id="sidebar-switch">
  <a href="#" class="news" data-target="#news"><%= I18n.t("sidebars.left_facebook_view.switch.news.title", { defaultValue: "News" }) %></a>
  |
  <a href="#" class="leaderboard" data-target="#recent-badges"><%= I18n.t("sidebars.left_facebook_view.switch.leaderboard.title", { defaultValue: "Leaders" }) %></a>
</div>

<div id="news" class="widget"></div>

<div id="recent-badges" class="widget">
  <h1><%= I18n.t("sidebars.right_view.recent_user_badges.title", { defaultValue: "Congratulations!" }) %>
    <div class="close"></div>
  </h1>
  <div class="widget-container recent-badges-container"></div>
</div>
