<h1>Edit contest</h1>

<form id="edit-contest" name="contest">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value=<%= description %> >
  </div>

  <div class="field">
    <label for="award"> award:</label>
    <input type="text" name="award" id="award" value=<%= award %> >
  </div>

  <div class="field">
    <label for="logo"> logo:</label>
    <input type="text" name="logo" id="logo" value=<%= logo %> >
  </div>

  <div class="field">
    <label for="typekey"> typekey:</label>
    <input type="text" name="typekey" id="typekey" value=<%= typekey %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Contest" />
  </div>

</form>

<a href="#/index">Back</a>