<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_19 push_8">
    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 contest">
          <p class="location"><%= I18n.t("contests.new.breadcrumb", { defaultValue: "» Contests" }) %></p>
          <h1><%= I18n.t("contests.new.title", { defaultValue: "Add new contest" }) %></h1>
        </div>
        <div class="clear"></div>
        <!-- End: Grid#contest.contest 1 -->

        <form id="new-contest" style="margin-top: 30px;">

          <div id="contest_info_wrap">

            <!-- Start: Grid#contest.new 1 -->
            <div class="grid_4 contest new">
              <p><%= I18n.t("contests.new.idea_type", { defaultValue: "Idea type" }) %></p>
            </div>
            <div class="grid_5 contest new dropdownfix">
              <select class="chzn-select" name="contest_request[parent_attributes][typekey]" id="contest_request_parent_attributes_typekey" data-placeholder="..." style="width: 120px;" data-tooltip="test">
                <option value=""></option>
                <option value="text"><%= I18n.t("contests.new.idea_types.text", { defaultValue: "text" }) %></option>
                <option value="image"><%= I18n.t("contests.new.idea.types.pic", { defaultValue: "picture" }) %></option>
                <option value="video"><%= I18n.t("contests.new.idea_types.video", { defaultValue: "video" }) %></option>
              </select>
            </div>
            <div class="clear"></div>
            <!-- End: Grid#contest.new 1 -->
          
            <!-- Start: Grid#contest.new 1 -->
            <div class="grid_4 contest new">
              <p><%= I18n.t("contests.new.contest_title.label", { defaultValue: "Contest title" }) %></p>
            </div>
            <div class="grid_12 contest new">
              <textarea style="width:290px;" name="contest_request[parent_attributes][title]" id="contest_request_parent_attributes_title" data-tooltip="<%= I18n.t("contests.new.contest_title.required", { defaultValue: "* Required field<br />* Min symbols: 3<br />* Max symbols: 100" }) %>"></textarea>
            </div>
            <div class="clear"></div>
            <!-- End: Grid#contest.new 1 -->

            <!-- Start: Grid#contest.new 1 -->
            <div class="grid_4 contest new">
              <p><%= I18n.t("contests.contest.new.full_description", { defaultValue: "Full description" }) %></p>
            </div>
            <div class="grid_12 contest new">
              <textarea style="width:290px;" name="contest_request[parent_attributes][description]" id="contest_request_parent_attributes_description" data-tooltip="<%= I18n.t("contests.new.required_field", { defaultValue: "* Required field" }) %>"></textarea>
            </div>
            <div class="clear"></div>

            <!-- End: Grid#contest.new 1 -->
            <div class="grid_4 contest new">
              <p><%= I18n.t("contests.new.crowdsourcing.label", { defaultValue: "Crowdsourcing" }) %></p>
            </div>
            <div class="grid_12 contest new">
              <input data-tooltip="<%= I18n.t("contests.new.crowdsourcing.info", { defaultValue: "Check if want to crowdsource on Facebook" }) %>" type="checkbox" name="contest_request[crowdsourcing_flag]" id="contest_request_crowdsourcing_flag"></input>
            </div>
            <div class="clear"></div>

            <div class="grid_4 contest new" id="language-select-label">
              <p><%= I18n.t("contests.new.language", { defaultValue: "Language" }) %></p>
            </div>
            <div class="grid_5 contest new dropdownfix" id="language-select-container">
              <select class="chzn-select" name="contest_request[parent_attributes][language]" id="contest_request_parent_attributes_language" data-placeholder="..." style="width: 120px;" data-tooltip="test">
                <option value="English"><%= I18n.t("users.profile.languages.english", { defaultValue: "English" }) %></option>
                <option value="Latvian"><%= I18n.t("users.profile.languages.latvian", { defaultValue: "Latvian" }) %></option>
              </select>
            </div>
            <div class="clear"></div>

            <!-- Start: Grid#contest.new 1 -->
            <div class="grid_4 contest new">
              <p><%= I18n.t("contests.new.photo", { defaultValue: "Photo" }) %></p>
            </div>
            <div class="grid_12 contest new">
              <input type="file" value="" name="logo_file_name" id="image" />
              <div id="contest_image"></div>
              <input type="hidden" value="" name="contest_request[parent_attributes][contest_image_id]" id="contest_image_id">
            </div>
            <div class="clear"></div>
            <!-- End: Grid#contest.new 1 -->

            <!-- Start: Grid#contest.new 1 -->
            <div class="grid_4 contest new">
              <p><%= I18n.t("contests.new.theme", { defaultValue: "Theme" }) %></p>
            </div>
            <div class="grid_5 contest new dropdownfix">
              <select class="chzn-select" name="contest_request[parent_attributes][category_id]" id="contest_request_parent_attributes_category_id" data-placeholder="..." style="width: 120px;" data-tooltip="test">
                <option value=""></option>
              </select>
            </div>
            <div class="clear"></div>
            <!-- End: Grid#contest.new 1 -->

            <div class="push_2 grid_12 contest profile buttons">
              <input class="button_1 green" type="submit" value="<%= I18n.t("contests.new.submit", { defaultValue: "Submit" }) %>" />
              <span><%= I18n.t("contests.new.or", { defaultValue: "or" }) %></span>
              <a id="cancel" href=""><%= I18n.t("contests.new.cancel", { defaultValue: "Cancel" }) %></a>
            </div>
            <div class="clear"></div>
            <!-- End: Grid#contest.contest 1 -->
          </div>

        </form>

      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->
