<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Award:</b>
  <%= award %>
</p>

<p>
  <b>Logo:</b>
  <%= logo %>
</p>

<p>
  <b>Typekey:</b>
  <%= typekey %>
</p>


<a href="#/index">Back</a>