<% if(user_payment_status == "OK") { %>
  Your payment was successful!
<% } else { %>
  Sorry, there are some problems with your payment. Refresh this page after few seconds. If problem still exists please contact us: <a href="mailto:info@academyideas.com">info@academyideas.com</a>
<% } %>
