<div id="content" class="body_container_35">
  <div class="grid_19 push_8">
  	<div class="scroll thin">
  		<div class="content_container_16" id="profile-payments">
        <div class="grid_16">
          <h1><%= I18n.t("payments.title", { defaultValue: "Profile payment" }) %></h1>
          <div class="description">
            <%= I18n.t("payments.max_ideas_count", { defaultValue: "You can submit up to {{max_ideas_count}} ideas daily for free. If you want to submit unlimited number of ideas, purchase one of the options below.", max_ideas_count: max_ideas_count }) %>
          </div>
          <div id="payment-load-indicator-container"><span class="loading">&nbsp;</span></div>
          <div id="payment_options"></div>
          <div id="back-to-contest" class="slide previous">
            <a href="/#/contests/<%= contest_id %>" class="button green brackets push_4 grid_8"><%= I18n.t("payments.back_to_contest", { defaultValue: "Back to contest" }) %></a>
          </div>
        </div>
        <div class="clear"></div>
  		</div>
  	</div>
  </div>
  <div class="clear"></div>
</div>
