<div class="payment_option">
  <div class="grid_7">
    <h5><%= name %></h5>
    <%= I18n.t("payments.price", { defaultValue: "Price:" }) %> <%= price %> <%= currency %>
  </div>
  <div class="grid_8">
    <a data-service-id="<%= service_id %>" href="<%= transaction_req_url %>"
       class="button_1"><%= I18n.t("payments.purchase", { defaultValue: "Purchase" }) %>
    </a>
  </div>
  <div class="clear"></div>
</div>
