<div id="content" class="body_container_35">
  <div class="grid_19 push_8">
  	<div class="scroll thin">
  		<div class="content_container_16" id="profile-payments">
        <div class="grid_16">
          <div id="payment-load-indicator-container"><span class="loading">&nbsp;</span></div>
        </div>
        <div class="clear"></div>
  		</div>
  	</div>
  </div>
  <div class="clear"></div>
</div>