    <div class="scroll thin">
      <div class="content_container_16">

        <!-- Start: Grid#content.contest 1 -->
        <div class="grid_16 statistics">
          <p class="location"><%= I18n.t("statistics.statistic.user.breadcrumb", { defaultValue: "» Contests » Statistics »" }) %></p>
          <h1><%= category.name %></h1>

          <div id="category_contests_wrap"></div>

          <hr />
          <ul class="status">
            <li><%= I18n.t("statistics.statistic.user.top3", { defaultValue: "You have submitted <strong>{{added}} ideas</strong> in this category, <strong>{{top_three}}</strong> of them achieved <strong>top3</strong>", added: user_info.ideas_added, top_three: user_info.ideas_in_top_three }) %></li>
            <!--<li><%= I18n.t("statistics.statistic.user.friends", { defaultValue: "<strong>{{friends}} of your friends</strong> have competed in this category", friends: user_info.friends_in_category }) %></li> -->
            <li><%= I18n.t("statistic.statistic.user.contest_count", { defaultValue: "This category has <strong>{{contests_in_category}} contests</strong>", contests_in_category: contests_in_category }) %></li>
          </ul>
          <hr />
        </div>
        <div class="clear"></div>
        <!-- End: Grid#content.contest 1 -->

        <div id="category_players_wrap">aa</div>

      </div>
    </div>
