class @AppUtils

  @isFacebookApp = <%= AppUtils.facebook_env? %>
  @isInternalApp = <%= AppUtils.internal_app_env? %>
  @facebookAppId = <%= AppUtils.facebook_env? ? FACEBOOK_CONF[:client] : 0 %> unless @isInternalApp
  @internalLink  = "http://www.<%= AppUtils::HOST %>"
