<%= semantic_form_for [:admin, @category] do |f| %>

  <%= f.inputs I18n.t("active_admin.forms.categories.title") do %>
    <%= f.semantic_errors %>

    <%= f.input :name, :input_html => { :value => f.object.read_attribute(:name) } %>
    <%= f.input :active_flag %>
  <% end %>

  <%= f.input :organization_id, :as => :hidden, :input_html => {:value => current_organization.id } %>
  <%= f.buttons :commit %>
<% end %>