.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25, .grid_26, .grid_27, .grid_28, .grid_29, .grid_30, .grid_31, .grid_32, .grid_33, .grid_34, .grid_35 {
  display: inline;
  float: left;
  margin: 0 5px;
}

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16, .push_17, .pull_17, .push_18, .pull_18, .push_19, .pull_19, .push_20, .pull_20, .push_21, .pull_21, .push_22, .pull_22, .push_23, .pull_23, .push_24, .pull_24, .push_25, .pull_25, .push_26, .pull_26, .push_27, .pull_27, .push_28, .pull_28, .push_29, .pull_29, .push_30, .pull_30, .push_31, .pull_31, .push_32, .pull_32, .push_33, .pull_33, .push_34, .pull_34 {
  position: relative;
}

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

.body_container_35 {
  width: 980px;
  display: block;
  margin: 0 auto;
  position: relative;

  div {
    display: block;
  }

  .grid_1 { width: 18px; }
  .grid_2 { width: 46px; }
  .grid_3 { width: 74px; }
  .grid_4 { width: 102px; }
  .grid_5 { width: 130px; }
  .grid_6 { width: 158px; }
  .grid_7 { width: 186px; }
  .grid_8 { width: 214px; }
  .grid_9 { width: 242px; }
  .grid_10 { width: 270px; }
  .grid_11 { width: 298px; }
  .grid_12 { width: 326px; }
  .grid_13 { width: 354px; }
  .grid_14 { width: 382px; }
  .grid_15 { width: 410px; }
  .grid_16 { width: 438px; }
  .grid_17 { width: 466px; }
  .grid_18 { width: 494px; }
  .grid_19 { width: 522px; }
  .grid_20 { width: 550px; }
  .grid_21 { width: 578px; }
  .grid_22 { width: 606px; }
  .grid_23 { width: 634px; }
  .grid_24 { width: 662px; }
  .grid_25 { width: 690px; }
  .grid_26 { width: 718px; }
  .grid_27 { width: 746px; }
  .grid_28 { width: 774px; }
  .grid_29 { width: 802px; }
  .grid_30 { width: 830px; }
  .grid_31 { width: 858px; }
  .grid_32 { width: 886px; }
  .grid_33 { width: 914px; }
  .grid_34 { width: 942px; }
  .grid_35 { width: 970px; }

  .prefix_1 { padding-left: 28px; }
  .prefix_2 { padding-left: 56px; }
  .prefix_3 { padding-left: 84px; }
  .prefix_4 { padding-left: 112px; }
  .prefix_5 { padding-left: 140px; }
  .prefix_6 { padding-left: 168px; }
  .prefix_7 { padding-left: 196px; }
  .prefix_8 { padding-left: 224px; }
  .prefix_9 { padding-left: 252px; }
  .prefix_10 { padding-left: 280px; }
  .prefix_11 { padding-left: 308px; }
  .prefix_12 { padding-left: 336px; }
  .prefix_13 { padding-left: 364px; }
  .prefix_14 { padding-left: 392px; }
  .prefix_15 { padding-left: 420px; }
  .prefix_16 { padding-left: 448px; }
  .prefix_17 { padding-left: 476px; }
  .prefix_18 { padding-left: 504px; }
  .prefix_19 { padding-left: 532px; }
  .prefix_20 { padding-left: 560px; }
  .prefix_21 { padding-left: 588px; }
  .prefix_22 { padding-left: 616px; }
  .prefix_23 { padding-left: 644px; }
  .prefix_24 { padding-left: 672px; }
  .prefix_25 { padding-left: 700px; }
  .prefix_26 { padding-left: 728px; }
  .prefix_27 { padding-left: 756px; }
  .prefix_28 { padding-left: 784px; }
  .prefix_29 { padding-left: 812px; }
  .prefix_30 { padding-left: 840px; }
  .prefix_31 { padding-left: 868px; }
  .prefix_32 { padding-left: 896px; }
  .prefix_33 { padding-left: 924px; }
  .prefix_34 { padding-left: 952px; }

  .suffix_1 { padding-right: 28px; }
  .suffix_2 { padding-right: 56px; }
  .suffix_3 { padding-right: 84px; }
  .suffix_4 { padding-right: 112px; }
  .suffix_5 { padding-right: 140px; }
  .suffix_6 { padding-right: 168px; }
  .suffix_7 { padding-right: 196px; }
  .suffix_8 { padding-right: 224px; }
  .suffix_9 { padding-right: 252px; }
  .suffix_10 { padding-right: 280px; }
  .suffix_11 { padding-right: 308px; }
  .suffix_12 { padding-right: 336px; }
  .suffix_13 { padding-right: 364px; }
  .suffix_14 { padding-right: 392px; }
  .suffix_15 { padding-right: 420px; }
  .suffix_16 { padding-right: 448px; }
  .suffix_17 { padding-right: 476px; }
  .suffix_18 { padding-right: 504px; }
  .suffix_19 { padding-right: 532px; }
  .suffix_20 { padding-right: 560px; }
  .suffix_21 { padding-right: 588px; }
  .suffix_22 { padding-right: 616px; }
  .suffix_23 { padding-right: 644px; }
  .suffix_24 { padding-right: 672px; }
  .suffix_25 { padding-right: 700px; }
  .suffix_26 { padding-right: 728px; }
  .suffix_27 { padding-right: 756px; }
  .suffix_28 { padding-right: 784px; }
  .suffix_29 { padding-right: 812px; }
  .suffix_30 { padding-right: 840px; }
  .suffix_31 { padding-right: 868px; }
  .suffix_32 { padding-right: 896px; }
  .suffix_33 { padding-right: 924px; }
  .suffix_34 { padding-right: 952px; }

  .push_1 { left: 28px; }
  .push_2 { left: 56px; }
  .push_3 { left: 84px; }
  .push_4 { left: 112px; }
  .push_5 { left: 140px; }
  .push_6 { left: 168px; }
  .push_7 { left: 196px; }
  .push_8 { left: 224px; }
  .push_9 { left: 252px; }
  .push_10 { left: 280px; }
  .push_11 { left: 308px; }
  .push_12 { left: 336px; }
  .push_13 { left: 364px; }
  .push_14 { left: 392px; }
  .push_15 { left: 420px; }
  .push_16 { left: 448px; }
  .push_17 { left: 476px; }
  .push_18 { left: 504px; }
  .push_19 { left: 532px; }
  .push_20 { left: 560px; }
  .push_21 { left: 588px; }
  .push_22 { left: 616px; }
  .push_23 { left: 644px; }
  .push_24 { left: 672px; }
  .push_25 { left: 700px; }
  .push_26 { left: 728px; }
  .push_27 { left: 756px; }
  .push_28 { left: 784px; }
  .push_29 { left: 812px; }
  .push_30 { left: 840px; }
  .push_31 { left: 868px; }
  .push_32 { left: 896px; }
  .push_33 { left: 924px; }
  .push_34 { left: 952px; }

  .pull_1 { left: -28px; }
  .pull_2 { left: -56px; }
  .pull_3 { left: -84px; }
  .pull_4 { left: -112px; }
  .pull_5 { left: -140px; }
  .pull_6 { left: -168px; }
  .pull_7 { left: -196px; }
  .pull_8 { left: -224px; }
  .pull_9 { left: -252px; }
  .pull_10 { left: -280px; }
  .pull_11 { left: -308px; }
  .pull_12 { left: -336px; }
  .pull_13 { left: -364px; }
  .pull_14 { left: -392px; }
  .pull_15 { left: -420px; }
  .pull_16 { left: -448px; }
  .pull_17 { left: -476px; }
  .pull_18 { left: -504px; }
  .pull_19 { left: -532px; }
  .pull_20 { left: -560px; }
  .pull_21 { left: -588px; }
  .pull_22 { left: -616px; }
  .pull_23 { left: -644px; }
  .pull_24 { left: -672px; }
  .pull_25 { left: -700px; }
  .pull_26 { left: -728px; }
  .pull_27 { left: -756px; }
  .pull_28 { left: -784px; }
  .pull_29 { left: -812px; }
  .pull_30 { left: -840px; }
  .pull_31 { left: -868px; }
  .pull_32 { left: -896px; }
  .pull_33 { left: -924px; }
  .pull_34 { left: -952px; }
}

.content_container_32 {
  width: 800px;
  min-height: 350px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  .grid_1 { width: 15px; }
  .grid_2 { width: 40px; }
  .grid_3 { width: 65px; }
  .grid_4 { width: 90px; }
  .grid_5 { width: 115px; }
  .grid_6 { width: 140px; }
  .grid_7 { width: 165px; }
  .grid_8 { width: 190px; }
  .grid_9 { width: 215px; }
  .grid_10 { width: 240px; }
  .grid_11 { width: 265px; }
  .grid_12 { width: 290px; }
  .grid_13 { width: 315px; }
  .grid_14 { width: 340px; }
  .grid_15 { width: 365px; }
  .grid_16 { width: 390px; }
  .grid_17 { width: 415px; }
  .grid_18 { width: 440px; }
  .grid_19 { width: 465px; }
  .grid_20 { width: 490px; }
  .grid_21 { width: 515px; }
  .grid_22 { width: 540px; }
  .grid_23 { width: 565px; }
  .grid_24 { width: 590px; }
  .grid_25 { width: 615px; }
  .grid_26 { width: 640px; }
  .grid_27 { width: 665px; }
  .grid_28 { width: 690px; }
  .grid_29 { width: 715px; }
  .grid_30 { width: 740px; }
  .grid_31 { width: 765px; }
  .grid_32 { width: 790px; }

  .prefix_1 { padding-left: 25px; }
  .prefix_2 { padding-left: 50px; }
  .prefix_3 { padding-left: 75px; }
  .prefix_4 { padding-left: 100px; }
  .prefix_5 { padding-left: 125px; }
  .prefix_6 { padding-left: 150px; }
  .prefix_7 { padding-left: 175px; }
  .prefix_8 { padding-left: 200px; }
  .prefix_9 { padding-left: 225px; }
  .prefix_10 { padding-left: 250px; }
  .prefix_11 { padding-left: 275px; }
  .prefix_12 { padding-left: 300px; }
  .prefix_13 { padding-left: 325px; }
  .prefix_14 { padding-left: 350px; }
  .prefix_15 { padding-left: 375px; }
  .prefix_16 { padding-left: 400px; }
  .prefix_17 { padding-left: 425px; }
  .prefix_18 { padding-left: 450px; }
  .prefix_19 { padding-left: 475px; }
  .prefix_20 { padding-left: 500px; }
  .prefix_21 { padding-left: 525px; }
  .prefix_22 { padding-left: 550px; }
  .prefix_23 { padding-left: 575px; }
  .prefix_24 { padding-left: 600px; }
  .prefix_25 { padding-left: 625px; }
  .prefix_26 { padding-left: 650px; }
  .prefix_27 { padding-left: 675px; }
  .prefix_28 { padding-left: 700px; }
  .prefix_29 { padding-left: 725px; }
  .prefix_30 { padding-left: 750px; }
  .prefix_31 { padding-left: 775px; }

  .suffix_1 { padding-right: 25px; }
  .suffix_2 { padding-right: 50px; }
  .suffix_3 { padding-right: 75px; }
  .suffix_4 { padding-right: 100px; }
  .suffix_5 { padding-right: 125px; }
  .suffix_6 { padding-right: 150px; }
  .suffix_7 { padding-right: 175px; }
  .suffix_8 { padding-right: 200px; }
  .suffix_9 { padding-right: 225px; }
  .suffix_10 { padding-right: 250px; }
  .suffix_11 { padding-right: 275px; }
  .suffix_12 { padding-right: 300px; }
  .suffix_13 { padding-right: 325px; }
  .suffix_14 { padding-right: 350px; }
  .suffix_15 { padding-right: 375px; }
  .suffix_16 { padding-right: 400px; }
  .suffix_17 { padding-right: 425px; }
  .suffix_18 { padding-right: 450px; }
  .suffix_19 { padding-right: 475px; }
  .suffix_20 { padding-right: 500px; }
  .suffix_21 { padding-right: 525px; }
  .suffix_22 { padding-right: 550px; }
  .suffix_23 { padding-right: 575px; }
  .suffix_24 { padding-right: 600px; }
  .suffix_25 { padding-right: 625px; }
  .suffix_26 { padding-right: 650px; }
  .suffix_27 { padding-right: 675px; }
  .suffix_28 { padding-right: 700px; }
  .suffix_29 { padding-right: 725px; }
  .suffix_30 { padding-right: 750px; }
  .suffix_31 { padding-right: 775px; }

  .push_1 { left: 25px; }
  .push_2 { left: 50px; }
  .push_3 { left: 75px; }
  .push_4 { left: 100px; }
  .push_5 { left: 125px; }
  .push_6 { left: 150px; }
  .push_7 { left: 175px; }
  .push_8 { left: 200px; }
  .push_9 { left: 225px; }
  .push_10 { left: 250px; }
  .push_11 { left: 275px; }
  .push_12 { left: 300px; }
  .push_13 { left: 325px; }
  .push_14 { left: 350px; }
  .push_15 { left: 375px; }
  .push_16 { left: 400px; }
  .push_17 { left: 425px; }
  .push_18 { left: 450px; }
  .push_19 { left: 475px; }
  .push_20 { left: 500px; }
  .push_21 { left: 525px; }
  .push_22 { left: 550px; }
  .push_23 { left: 575px; }
  .push_24 { left: 600px; }
  .push_25 { left: 625px; }
  .push_26 { left: 650px; }
  .push_27 { left: 675px; }
  .push_28 { left: 700px; }
  .push_29 { left: 725px; }
  .push_30 { left: 750px; }
  .push_31 { left: 775px; }

  .pull_1 { left: -25px; }
  .pull_2 { left: -50px; }
  .pull_3 { left: -75px; }
  .pull_4 { left: -100px; }
  .pull_5 { left: -125px; }
  .pull_6 { left: -150px; }
  .pull_7 { left: -175px; }
  .pull_8 { left: -200px; }
  .pull_9 { left: -225px; }
  .pull_10 { left: -250px; }
  .pull_11 { left: -275px; }
  .pull_12 { left: -300px; }
  .pull_13 { left: -325px; }
  .pull_14 { left: -350px; }
  .pull_15 { left: -375px; }
  .pull_16 { left: -400px; }
  .pull_17 { left: -425px; }
  .pull_18 { left: -450px; }
  .pull_19 { left: -475px; }
  .pull_20 { left: -500px; }
  .pull_21 { left: -525px; }
  .pull_22 { left: -550px; }
  .pull_23 { left: -575px; }
  .pull_24 { left: -600px; }
  .pull_25 { left: -625px; }
  .pull_26 { left: -650px; }
  .pull_27 { left: -675px; }
  .pull_28 { left: -700px; }
  .pull_29 { left: -725px; }
  .pull_30 { left: -750px; }
  .pull_31 { left: -775px; }
}

.content_container_16 {
  width: 400px;
  min-height: 350px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  .grid_1 { width: 15px; margin-bottom: 10px; }
  .grid_2 { width: 40px; margin-bottom: 10px; }
  .grid_3 { width: 65px; margin-bottom: 10px; }
  .grid_4 { width: 90px; margin-bottom: 10px; }
  .grid_5 { width: 115px; margin-bottom: 10px; }
  .grid_6 { width: 140px; margin-bottom: 10px; }
  .grid_7 { width: 165px; margin-bottom: 10px; }
  .grid_8 { width: 190px; margin-bottom: 10px; }
  .grid_9 { width: 215px; margin-bottom: 10px; }
  .grid_10 { width: 240px; margin-bottom: 10px; }
  .grid_11 { width: 265px; margin-bottom: 10px; }
  .grid_12 { width: 290px; margin-bottom: 10px; }
  .grid_13 { width: 315px; margin-bottom: 10px; }
  .grid_14 { width: 340px; margin-bottom: 10px; }
  .grid_15 { width: 365px; margin-bottom: 10px; }
  .grid_16 { width: 390px; margin-bottom: 10px; }

  .prefix_1 { padding-left: 25px; }
  .prefix_2 { padding-left: 50px; }
  .prefix_3 { padding-left: 75px; }
  .prefix_4 { padding-left: 100px; }
  .prefix_5 { padding-left: 125px; }
  .prefix_6 { padding-left: 150px; }
  .prefix_7 { padding-left: 175px; }
  .prefix_8 { padding-left: 200px; }
  .prefix_9 { padding-left: 225px; }
  .prefix_10 { padding-left: 250px; }
  .prefix_11 { padding-left: 275px; }
  .prefix_12 { padding-left: 300px; }
  .prefix_13 { padding-left: 325px; }
  .prefix_14 { padding-left: 350px; }
  .prefix_15 { padding-left: 375px; }

  .suffix_1 { padding-right: 25px; }
  .suffix_2 { padding-right: 50px; }
  .suffix_3 { padding-right: 75px; }
  .suffix_4 { padding-right: 100px; }
  .suffix_5 { padding-right: 125px; }
  .suffix_6 { padding-right: 150px; }
  .suffix_7 { padding-right: 175px; }
  .suffix_8 { padding-right: 200px; }
  .suffix_9 { padding-right: 225px; }
  .suffix_10 { padding-right: 250px; }
  .suffix_11 { padding-right: 275px; }
  .suffix_12 { padding-right: 300px; }
  .suffix_13 { padding-right: 325px; }
  .suffix_14 { padding-right: 350px; }
  .suffix_15 { padding-right: 375px; }

  .push_1 { left: 25px; }
  .push_2 { left: 50px; }
  .push_3 { left: 75px; }
  .push_4 { left: 100px; }
  .push_5 { left: 125px; }
  .push_6 { left: 150px; }
  .push_7 { left: 175px; }
  .push_8 { left: 200px; }
  .push_9 { left: 225px; }
  .push_10 { left: 250px; }
  .push_11 { left: 275px; }
  .push_12 { left: 300px; }
  .push_13 { left: 325px; }
  .push_14 { left: 350px; }
  .push_15 { left: 375px; }

  .pull_1 { left: -25px; }
  .pull_2 { left: -50px; }
  .pull_3 { left: -75px; }
  .pull_4 { left: -100px; }
  .pull_5 { left: -125px; }
  .pull_6 { left: -150px; }
  .pull_7 { left: -175px; }
  .pull_8 { left: -200px; }
  .pull_9 { left: -225px; }
  .pull_10 { left: -250px; }
  .pull_11 { left: -275px; }
  .pull_12 { left: -300px; }
  .pull_13 { left: -325px; }
  .pull_14 { left: -350px; }
  .pull_15 { left: -375px; }
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
