#sidebar-switch
  margin-bottom: 30px
  font: normal 10px/14px Verdana, sans-serif
  color: #606060
  a
    &.active
      font-weight: bold

#content
  .sidebar
    .widget
      width: 228px
      h1
        margin: 0
        padding: 0 0 0 7px
        height: 21px
        line-height: 21px
        font-size: 12px
        @include border-radius(5px 5px 0 0)
        //for copycopter translations that wrap everything in <p>
        p
          line-height: 21px
          font-size: 12px
          margin: 0
      .widget-container
        overflow: hidden
        padding: 0 0 0 8px
        @include border-radius(0 0 5px 5px)

    #news
      h1
        color: #aaa
        border: 1px solid #ddd
        background-color: #eee
        font-weight: normal
      .widget-container
        background-color: #f2f2f2
        border: 1px solid #ddd
        border-top: 1px solid #fff
        .more, .less
          float: left
          margin: 5px 10px 5px 0
          font: normal 9px/12px Verdana, sans-serif !important
        .less
          display: none
        .items
          overflow: auto
          max-height: 270px
        .news-item
          padding: 7px 0 10px
          min-height: 29px
          img
            position: absolute
            top: 7px
            left: 0
            @include border-radius(4px)
            width: 29px
            height: 29px
          .content
            padding-left: 35px
            font: normal 9px/12px Verdana, sans-serif !important
            color: #606060 !important
            p
              margin: 0
              font: normal 9px/12px Verdana, sans-serif !important
              color: #606060 !important
            a
              display: block
              color: #3da9ba
              font-size: 9px
              font-weight: normal

    #recent-badges
      h1
        background-color: #2e2e2e
        border: 1px solid #878787
        color: #d0bf31
        p
          color: #d0bf31
      .widget-container
        background: #2e2e2e image-url("leaderboard_bg.png") repeat-y right top
        border: 1px solid #878787
        border-top: 1px solid #1d1d1d
        .recent-user-badge 
          position: relative
          padding-top: 7px
          padding-bottom: 9px
          .images
            z-index: 2
            position: absolute
            top: 7px
            left: 0
            width: 29px
            height: 29px
            a
              display: block
              width: 29px
              height: 29px
            img
              @include border-radius(4px)
              width: 29px
              height: 29px
          .content
            float: none
            width: auto
            padding-left: 35px
            font: bold 9px/12px Verdana, sans-serif !important
            h3
              color: #6ebdc9
              font-size: 9px
              line-height: 11px
            p, span
              font: normal 9px/12px Verdana, sans-serif !important
              color: #fff !important

    #news
      .jspVerticalBar
        position: absolute
        width: 10px
