body {
  font: normal 1em/1em Verdana;
  color: #363636;
}

p {
  font-size: 0.8em;
}

hr {
  border: 0 #CCC solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font: bold 1.6em/1.1em Verdana;
  color: #3D3D3D;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}