<!-- Start: Grid#content.contest 11 -->
<div class="grid_16 contest">
  <table class="leaderboard" cellspacing="0">
    <thead>
      <tr>
        <td class="user" colspan="2"><%= I18n.t("contests.contest.statistics.ideas.titles", { defaultValue: "Ideas" }) %></td>
        <td class="place"><%= I18n.t("contests.contest.statistics.wins", { defaultValue: "Wins" }) %></td>
        <td><%= I18n.t("contests.contest.statistics.points", { defaultValue: "Points" }) %></td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>
<% if ( show_more_button ) { %>
	<div id="more-ideas-button-container" class="grid_4 contest actions">
		<input type="button" class="grid_4 button orange brackets" data-offset="10" id="load_more_ideas" name="get-more-values" value="<%= I18n.t("contests.contest.statistics.load_more_ideas", { defaultValue: "Load more ideas" }) %>" />
	</div>
<% } %>
<div class="clear"></div>
<!-- End: Grid#content.contest 11 -->
