<div class="grid_5 push_11 contest">
  <!--<% if (AppUtils.isFacebookApp) { %>
    <a data-close="<%= I18n.t('contests.contests.statistics.players.show_all', { defaultValue: 'show <strong>all</strong>' }) %>" href="#leaderboard_friends" class="toggle_friends unfold" data-also="#leaderboard_all"><%= I18n.t('contests.contest.statistics.players.show_friends', { defaultValue: 'show <strong>friends</strong>' }) %></strong></a>
  <% } %> -->
</div>
<div class="clear"></div>

<div class="grid_16 contest">

  <div id="leaderboard_all">
    <table id="mt" class="leaderboard" cellspacing="0">
      <thead>
        <tr>
          <td class="user" colspan="3"><%= I18n.t("contests.contest.statistics.players.title", { defaultValue: "Players" }) %></td>
          <td class="place"><%= I18n.t("contests.contest.statistics.place", { defaultValue: "Place" }) %></td>
          <td><%= I18n.t("contests.contest.statistics.points", { defaultValue: "Points" }) %></td>
        </tr>
      </thead>
     
      <tbody class="top">

      </tbody>

      <tbody class="all">

      </tbody>

      <tbody id="pagination" style="display: none;">
        <tr>
          <td colspan="5">
            <div id="smart-paginator"></div>
          </td>
        </tr>
      </tbody>
      
      <tbody class="more"></tbody>
    </table>
  </div>
  <!--<% if (AppUtils.isFacebookApp) { %>
    <div id="leaderboard_friends">
      <table class="leaderboard" cellspacing="0">
        <thead>
          <tr>
            <td class="user" colspan="3"><%= I18n.t("contests.contest.statistics.friends", { defaultValue: "Friends" }) %></td>
            <td class="place"><%= I18n.t("contests.contest.statistics.place", { defaultValue: "Place" }) %></td>
            <td><%= I18n.t("contests.contest.statistics.points", { defaultValue: "Points" }) %></td>
          </tr>
        </thead>
       
        <tbody class="top">

        </tbody>

        <tbody class="all">

        </tbody>
        
        <tbody class="more"></tbody>
      </table>
    </div>
  <% } %> -->
</div>
<div class="clear"></div>
