// Active Admin CSS Styles
@import "active_admin/mixins"
@import "active_admin/base"

// To customize the Active Admin interfaces, add your
// styles here:

ul.errors li
  text-transform: capitalize
  color: #932419
  font-weight: bold
  margin: 0.3em 0 0 20%

#header
  height: auto
  overflow: hidden
  #site_title
    display: none
  ul.header-item
    width: 75%
    top: 0
    line-height: 25px

#languages-nav
  float: right
  clear: right
  a
    margin: 0 0 0 5px
    text-transform: uppercase
    text-decoration: none
    &:hover
      text-decoration: underline

div.label
  display: block
  width: 20%
  float: left
  font-size: 1.0em
  font-weight: bold
  color: #5E6469

div.input
  width: 76%
  border: 1px solid #C9D0D6
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  font-size: 0.95em
  font-family: Helvetica, Arial, sans-serif
  outline: none
  padding: 8px 10px 7px
