h2.devise-title
  margin-top: 10px
  margin-left: 10px
  margin-bottom: 20px
  
.devise-form
  margin-left: 10px
  
  legend
    margin-bottom: 10px
  
  label, input
    display: inline-block
  
  label
    width: 170px
    font-size: 0.8em
  
  input
    width: 150px

#devise-links
  margin-left: 10px
  margin-top: 20px