@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
    height: 100%;
	font: 1em/1.5em Veranda, sans-serif;
    color: #363636;
    background-image: url(bg_results.png);
}

body {
    width: 914px;
    margin: 40px auto 0;
}

.clear:before,
.clear:after {
    content:"";
    display:table;
}

.clear:after {
    clear:both;
}

.clear {
    zoom:1;
}

h1 {
    font: bold 1.6em/1.1em Verdana;
    color: #3D3D3D;
}

a {
    color: #999;
    text-decoration: underline;
    font-size: 10px;
}

.scroll {
    width: 914px;
    margin: 40px auto 0;
    padding: 30px 0 50px;
    position: relative;
    background-image: url(scroll_body.png);
    background-position: center center;
    background-repeat: repeat-y;
    z-index: 0;
}

.scroll:before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url(scroll_top.png);
    background-position: center top;
    width: 914px;
    height: 127px;
    background-repeat: no-repeat;
    z-index: -10;
}

.scroll:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url(scroll_bottom.png);
    background-position: center bottom;
    width: 914px;
    height: 127px;
    background-repeat: no-repeat;
    z-index: -10;
}

table {
    margin: 0 70px;
    font-size: .875em;
    line-height: 1.333em;
}

table tbody tr th {
    padding-bottom: 10px;
    vertical-align: top;
}

table tbody tr td {
    padding-bottom: 5px;
    vertical-align: top;
}

table tbody tr th.place,
table tbody tr th.id,
table tbody tr td.place,
table tbody tr td.id {
    width: 43px;
    text-align: center;
}

table tbody tr th.id,
table tbody tr td.id {
    padding-right: 10px;
}

table tbody tr th.username,
table tbody tr td.username {
    width: 130px;
    padding-left: 10px;
    text-align: center;
}