@import "compass/css3"

#facebook-body
  width: 760px
  overflow-x: hidden
  margin: 0 auto

  .body_container_35
    margin: 0

  .contest
    .toLeft, .toRight
      display: none

    #statistics_tabs
      width: 486px

    .tabs
      
      li
        width: 110px

  #right_sidebar
    display: none

  #left_sidebar
    width: 145px
    top: 60px
    padding-bottom: 50px

    #about_category
      display: none

    #bubbles
      display: none

    #sidebar-switch
      margin-left: 17px
      margin-bottom: 30px
      margin-top: 300px
      font: normal 10px/14px Verdana, sans-serif
      color: #606060
      a
        &.active
          font-weight: bold

    .widget
      margin-left: 17px
      width: 128px
      h1
        margin: 0
        padding: 0 0 0 7px
        height: 21px
        line-height: 21px
        font-size: 12px
        @include border-radius(5px 5px 0 0)
        //for copycopter translations that wrap everything in <p>
        p
          line-height: 21px
          font-size: 12px
          margin: 0
      .widget-container
        overflow: hidden
        padding: 0 0 0 8px
        @include border-radius(0 0 5px 5px)

    #news
      h1
        color: #aaa
        border: 1px solid #ddd
        background-color: #eee
        font-weight: normal
      .widget-container
        background-color: #f2f2f2
        border: 1px solid #ddd
        border-top: 1px solid #fff
        .more, .less
          float: left
          margin: 5px 10px 5px 0
          font: normal 9px/12px Verdana, sans-serif !important
        .less
          display: none
        .items
          overflow: auto
          max-height: 270px
        .news-item
          padding: 7px 0 10px
          min-height: 29px
          img
            position: absolute
            top: 7px
            left: 0
            @include border-radius(4px)
            width: 29px
            height: 29px
          .content
            padding-left: 35px
            font: normal 9px/12px Verdana, sans-serif !important
            color: #606060 !important
            p
              margin: 0
              font: normal 9px/12px Verdana, sans-serif !important
              color: #606060 !important
            a
              color: #3da9ba
              font-size: 9px
              font-weight: normal

    #recent-badges
      h1
        background-color: #2e2e2e
        border: 1px solid #878787
        p
          color: #d0bf31
      .widget-container
        background: #2e2e2e image-url("facebook/leaderboard_bg.png") repeat-y right top
        border: 1px solid #878787
        border-top: 1px solid #1d1d1d
        .recent-user-badge 
          position: relative
          padding-top: 7px
          padding-bottom: 9px
          .images
            position: absolute
            top: 7px
            left: 0
            width: 29px
            height: 29px
            img
              @include border-radius(4px)
              width: 29px
              height: 29px
          .content
            float: none
            width: auto
            padding-left: 35px
            font: bold 9px/12px Verdana, sans-serif !important
            h3
              color: #6ebdc9
              font-size: 9px
            p, span
              font: normal 9px/12px Verdana, sans-serif !important
              color: #fff !important

    .navigation
      display: block
      margin: 0 0 50px

    .toLeft, .toRight
      display: block
      width: 43px
      position: static

    .toLeft
      float: left
      margin-left: 20px

    .toRight
      float: right
      margin-right: 5px

    .slide
      top: 0
      position: static
      .test
        position: absolute
        top: 60px !important
        left: 17px !important
        right: auto !important
        width: 128px
        min-height: 20px
        _height: 20px
        .arrow
          display: none

  #new_header
    height: 160px

    .logo
      background: image-url("facebook/fb_logo.png") no-repeat left top
      width: 213px
      height: 235px
      left: -20px

    .logo-slogan
      position: absolute
      top: 110px
      left: 160px
      background: image-url("facebook/logo_text.png") no-repeat left top
      width: 138px
      height: 52px

    #user_wrap
      width: 200px
      left: 320px
      top: 110px
    #logout-link
      display: inline
    #try-internal
      display: block
      position: absolute
      top: 110px
      left: 520px
      width: 199px
      height: 51px
      cursor: pointer
      &.en
        background: transparent image-url("facebook/try_in_your_company_en.png") no-repeat left top
      &.lv
        background: transparent image-url("facebook/try_in_your_company_lv.png") no-repeat left top

  #content 
    & > .grid_19
      width: 615px
      left: 150px
      margin: 0

    .scroll.thin
      background-image: none
      background-position: 0 -400px
      &:before
        background-image: image-url("facebook/wide_scroll_bg_top.png")
        width: 615px
      &:after
        top: 400px
        bottom: 0
        left: 0
        right: 0
        height: auto
        width: 615px
        background: image-url("facebook/wide_scroll_bg_middle.png") repeat-y center top

      .content_container_16
        width: 495px

      .grid_16
        width: 490px
      .grid_10
        width: 330px
      .grid_8
        width: 240px

      #invite-friends
        display: none

      textarea.idea
        width: 320px
        min-width: 320px
        max-width: 320px

      table.leaderboard
        width: 490px

      #statistics_view
        .grid_5.push_11
          left: 375px

  .toLeftStatistic, .toRightStatistic
    display: none

  #footer
    height: 21px
    width: 760px
    font-size: 11px
    background: image-url("facebook/footer.png") repeat-x left center
    ul
      line-height: 21px
      li.seperate
        background-position: 10px 7px
      li.box
        bottom: 21px
    .left-menu
      width: 500px
    .body_container_35
      width: 760px
    #lang_selector_wrap
      float: right
      margin-right: 25px
      width: auto
        

  #ideas_wrap
    .grid_15
      width: 445px
      .choice
        width: 100%

  .jspVerticalBar
    position: absolute
    width: 10px

  #bubbles
    width: 200px
    position: absolute
    right: 28px
    top: 105px
    .sidebar_bubble
      position: relative
      padding: 10px 20px 10px 10px
      h1
        font-size: 14px
      p
        font-size: 11px
        margin-top: 5px
      .close
        width: 14px
        height: 13px
        background-image: url('/assets/close_sidebar_bubble.png')
        display: block
        position: absolute
        top: 5px
        right: 5px
        cursor: pointer
