@import "compass/reset"
@import "compass/css3" 
$serif: "Crete Round", Georgia, serif

body
  background: #fff image-url("internal/background.png") repeat-x left top
  min-width: 1350px
strong
  font-weight: bold

.clear
  clear: both

.wrap
  position: relative
  width: 960px
  margin: 0 auto

#header
  height: 98px
  background: transparent image-url("internal/header_bg.png") repeat-x center top

  .logo
    display: block
    width: 224px
    height: 90px
    position: absolute
    top: 10px
    left: 0

  .divider
    position: absolute
    background: transparent image-url("internal/divider.png") repeat-x center top
    top: 2px
    height: 102px
    width: 18px
    &.first
      left: 265px
    &.second
      left: 660px

  .slogan
    position: absolute
    left: 295px
    top: 14px

  .devise-form
    position: absolute
    top: 0
    left: 680px
    margin-top: 7px

    .inputs
      li.input
        overflow: hidden
        label
          margin: 2px 0
          float: left
          width: 65px
          margin-right: 10px
          text-align: right
          font: normal 14px/22px Arial, sans-serif
          color: #f0f0f0
        input
          outline: none
          margin: 2px 0
          float: left
          width: 150px
          background: #d0d0d0
          padding: 3px
          color: #474747
          font: normal 14px/1 Arial, sans-serif
          border: none
          @include border-radius(4px)
          &:focus
            outline: none
    button
      position: relative
      left: 5px
      width: 65px
      height: 30px
      background: transparent image-url("internal/login_button_bg.png") no-repeat center center
      font: normal 14px/28px Arial, sans-serif
      border: none
      color: #292929
      cursor: pointer
      float: right
    #devise-links
      float: right
      margin: 0
      a
        color: #8e8d8d
        font: normal 14px/30px Arial, sans-serif
        text-decoration: none
    .inline-errors
      display: none

  #flash-alert
    position: absolute
    left: 925px
    top: 10px
    background: image-url("internal/login_error.png") no-repeat 0 2px
    color: #fff
    width: 70px
    padding-left: 20px
    font: normal 14px/1 Arial, sans-serif
      
#top-menu
  background: transparent image-url("internal/top_menu_bg.png") repeat left top
  border-top: 1px solid #636362
  border-bottom: 1px solid #636362
  text-align: center
  @include single-box-shadow(#777, 0, 3px, 2px, -2px)
  .lang
    position: absolute
    left: 0
    top: 0
  .inner
    border-top: 4px solid #4097c4
    border-bottom: 4px solid #4097c4
    a
      display: inline-block
      margin: 0 9px
      padding: 0 6px
      text-decoration: none
      text-transform: uppercase
      font: normal 14px/25px Arial, sans-serif
      color: #fff
      &.active
        background: #ea861b

#content
  position: relative
  padding: 20px 0 30px
  min-height: 700px
  #latest-activities
    width: 200px
    position: absolute
    left: 0
    top: 20px
    @include single-box-shadow(#333, 0, 0, 5px)
    @include border-top-right-radius(5px)
    @include border-bottom-right-radius(5px)
    h1
      @include border-top-right-radius(5px)
      margin: 0
      padding: 5px 10px
      font: bold 14px/18px Arial, sans-serif
      color: #ea861b
      background: #2a2a2a
    ul
      margin: 0
      li
        margin: 0
        padding: 10px
        color: #111
        font: normal 14px/14px Arial, sans-serif
        list-style-type: none
        &.odd
          background: #e1e1e1
        &.even
          background: #fff
        &:last-child
          @include border-bottom-right-radius(5px)
    .close
      position: absolute
      top: 5px
      right: 5px

  #social-buttons
    position: absolute
    bottom: -30px
    right: 10px
    iframe.facebook
      position: relative
      top: 1px
      max-width: 120px
      height: 21px

  h1
    font: normal 36px/40px $serif
    color: #2f2d2f
    margin-bottom: 20px
  h2
    font: normal 32px/36px $serif
    color: #2f2d2f
    margin: 30px 0 20px
  p, ul
    margin: 10px 0
    font: normal 14px/1.5 Arial, sans-serif
    color: #292929
    li 
      list-style-type: disc
      margin-left: 20px

  #faq
    .faq
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px dashed #737373
    .question, .answer
      position: relative
      padding-left: 30px
      font: normal 14px/1.5 Arial, sans-serif
      color: #292929
      span
        font-weight: bold
        display: inline-block
        position: absolute
        left: 0
        top: 0

  #testimonials
    width: 790px
    .testimonial
      position: relative
      min-height: 130px
      margin-bottom: 20px
      padding: 0 0 30px 160px
      border-bottom: 1px dashed #737373
      font: italic 14px/18px Arial, sans-serif
      background: transparent url("internal/testimonial_quotes.png") no-repeat right top
      .author
        position: absolute
        left: 0
        top: 0
        img 
          display: block
          @include border-radius(4px)
        .name
          margin-top: 10px
          font: bold 14px/18px Arial, sans-serif
          color: #292929

  #pricing
    table
      thead
        td
          background: #b0b0b0
          font-weight: bold
      td
        padding: 15px 20px
        color: #292929
        border: 1px solid #d2d2d2
        font: normal 14px/18px Arial, sans-serif
        text-align: center
        &.name
          b
            font-weight: normal
            color: #ea861b
      .buy
        display: inline-block
        font: normal 14px/20px Arial, sans-serif
        color: #262626
        padding: 0 10px
        text-decoration: none
        +background-with-css2-fallback(linear-gradient(#efa522, #e56814))
        +border-radius(2px)
        +single-box-shadow(#777, 0, 0, 3px)

  .devise-form
    margin: 0
    li
      list-style-type: none
    label
      font: normal 14px/16px Arial, sans-serif
      color: #292929
      width: 150px
      margin-right: 20px
      text-align: right
    input[type=text], input[type=password], input[type=tel]
      width: 265px
    p.inline-errors
      display: inline-block
      color: #de1010
      padding-left: 25px
      margin-left: 5px
      background: transparent image-url("internal/login_error.png") no-repeat left center
    .service-radios-input
      margin: 15px 0
      label
        vertical-align: middle
    .service-radios
      display: inline-block
      overflow: hidden
      vertical-align: middle
      .radiogroup
        float: left
        font: normal 14px/24px Arial, sans-serif
        margin-right: 70px
        input[type=radio]
          width: auto
          vertical-align: middle
          margin: 0 20px 0 0
          height: 16px
          &:checked + label
            font-weight: bold
        label
          width: auto
          vertical-align: middle
    fieldset.actions
      margin: 30px 0
      position: relative
      label
        position: absolute
        left: 0
        top: 0
        line-height: 48px
      li
        position: absolute
        left: 170px
      button, input[type=submit]
        font: normal 24px/38px $serif
        color: #fff
        border: 1px solid #ccc
        width: auto
        +background-with-css2-fallback(linear-gradient(#efa522, #e56814))
        +border-radius(3px)
        +single-box-shadow(#777, 0, 0, 5px)
        cursor: pointer
    #error_explanation
      font: normal 14px/16px Arial, sans-serif
      color: #de1010
    .field_with_errors
      display: inline-block


#advert-top
  overflow: hidden
  font: normal 36px/36px $serif
  color: #292929
  padding: 0 10px 10px
  text-align: center
  background: transparent image-url("internal/ampersand.png") no-repeat center 5px
  .left
    float: left
    width: 400px
    text-align: right
  .right
    float: right
    width: 400px
    text-align: left
  strong
    font-weight: normal
    color: #006fa8
  #advert-top-image
    margin-top: 20px
    position: relative
    height: 150px
    img
      position: absolute
    .employees
      left: 80px
      bottom: 0
    .creatives
      right: 80px
      bottom: 0
    .bulbs
      left: 0
      right: 0
      bottom: 10px
      margin: 0 auto
    .left-arrow
      left: 320px
      bottom: 70px
    .right-arrow
      right: 320px
      bottom: 70px
      
  #see-it-live-on-facebook
    position: relative
    bottom: 20px
    img
      @include single-box-shadow(#333, 0, 0, 5px)
      @include border-radius(5px)
      border: none


#advert-middle
  position: relative
  background: transparent image-url("internal/border_dash.png") repeat-x left top
  padding: 15px 70px 0 60px
  text-align: center
  font: bold 14px/18px Arial, sans-serif
  overflow: hidden
  .left
    float: left
    width: 350px
  .right
    float: right
    width: 350px
  .left, .right
    img
      display: inline-block
      margin-top: 10px
    
  .gears
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    bottom: 80px
.orange-button
  display: block
  text-align: center
  margin: 0 auto
  font: normal 24px/50px $serif
  color: #fff
  text-decoration: none
  background: transparent image-url("internal/orange_button.png") repeat-x left top
  width: 233px
  height: 50px

#play-now
  text-align: center
  margin: 5px 0 25px
  .orange-button
    margin-bottom: 30px
  p
    font: normal 20px/1.2 $serif
    color: #292929
    @include single-text-shadow(#999, 1px, 1px, 1px)

#footer
  font: normal 14px/75px Arial, sans-serif
  color: #fff
  background: #242424
  text-align: center

input
  border: 1px solid #c7c7c7
  padding: 5px 10px
  width: 265px
  background: #fff
  font: normal 14px/16px Arial, sans-serif
  color: #292929

#content
