<div id="devise-links">
  <%- if controller_name != 'sessions' %>
    <%#= link_to I18n.t("devise.links.sign_in"), new_session_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%#= link_to I18n.t("devise.links.sign_up"), new_registration_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to I18n.t("devise.links.forgot_password"), new_password_path(resource_name) %>
  <% end -%>
</div>
