<div class="grid_5 seperate category <%= active_class %>">
  <a id="theme_<%= id %>" class="theme" href="/contest">
    <div class="badge badge_<%= level %>"></div>
    <p class="points">
      <span class="total"><%= total_points %></span><span class="plus"><%= live_points %></span> <%= I18n.t("header.category.points", { defaultValue: "points" }) %>
    </p>
    <div class="progress">
      <div class="complete" style="width: <%= percents %>%;"></div>
      <p><%= percents %>%</p>
    </div>
    <p class="name"><%= name %></p>
  </a>
</div>
