<div class="grid_5">
  <div class="profile">
    <a class="logout" href="/logout">iziet</a>
    <a class="profile_link" href="/#/users/<%= id %>">
      <img class="photo" src="<%= image_url %>" width="45" height="45" alt="<%= first_name %> <%= last_name %>" />
      <p class="name">
        <%= first_name %> <%= last_name %>
        <br />
        <span><span class="earned_money"><%= earned_money %></span><%= I18n.t("currency.title", { defaultValue: "USD" }) %></span>
      </p>
    </a>
  </div>
</div>
