<tr class="idea-row">
  <td class="user photo">
    <div class="photo"><img class="photo" src="<%= image_url%>" width="38" height="38" alt="<%= first_name %> <%= last_name %>" /></div>
  </td>
  <td class="user">
    <div class="choice"><span><%= prefix %><%= first_name %> <%= last_name %> <%= (show_idea) ? ':' : '' %></span> <%= (show_idea) ? text : '' %></div>
  </td>
  <td><%= duels_won %>/<%= duels_in %></td>
  <td><%= points %></td>
</tr>
