<tr>
  <td class="user photo">
    <div class="photo"><img class="photo" src="<%= image_url%>" width="38" height="38" alt="<%= first_name %> <%= last_name %>" /></div>
  </td>
  <td class="user">
    <div class="choice"><span><%= first_name %> <%= last_name %> <%= (show_idea) ? ':' : '' %></span> 
      <% if (show_idea) { %>
      <img class="idea" src="<%= video_image %>" width="208" height="auto" alt="<%= video_image %>" />
      <% } %>
    </div>
  </td>
  <td><%= duels_won %>/<%= duels_in %></td>
  <td><%= points %></td>
</tr>