<tr data-order="<%= order %>">
  <td class="user photo">
    <div class="photo"><a href="/#/users/<%= user_id %>"><img class="photo" src="<%= image %>" width="38" height="38" alt="<%= first_name %> <%= last_name %>" /></a></div>
  </td>
  <td class="badge badge_<%= badge_image %>"></td>
  <td class="user name"><a href="/#/users/<%= user_id %>"><%= prefix %><%= first_name %> <%= last_name %></a></td>
  <td class="place"><%= order %></td>
  <td data-tooltip="<%= I18n.t("contests.contest.statistics.player.ideas", { defaultValue: "Ideas:" }) %> <%= idea_points %><br /><%= I18n.t("contests.contest.statistics.player.voting", { defaultValue: "Voting:" }) %> <%= vote_points %>"><span><%= points %></span><div></div></td>
</tr>
