<form id="new_account" name="post" >
  <div class="grid_16">
        <div class="bulb"></div>
      </div>
      <div class="clear"></div>

      <div class="grid_16">
        <h1><%= I18n.t("users.profile.check_out_form.account_number", { defaultValue: "Enter your account number" }) %></h1>
        <p>
          <textarea class="idea" name="account" id="account" data-maxlength="20"><%= account %></textarea>
          <div class="form_status"><span id="form_error"></span></div>
        </p>
      </div>
      <div class="clear"></div>
      <div class="grid_8 push_6">
          <div class="grid_4 contest actions">
            <input type="submit" class="grid_4 button orange brackets" value="<%= I18n.t("users.profile.check_out_form.submit", { defaultValue: "Submit" }) %>" />
          </div>
      </div>
  <div class="clear"></div>
</form>
