<div id="edit-portfolio-popup-view" class="content_container_16 popup-scrollbar">
  <h5>
    <%= I18n.t("users.profile.edit_portfolio.title_1", { defaultValue: "Your <span class='count'{{count}}</span> best ideas.", count: count }) %><br />
    <%= I18n.t("users.profile.edit_portfolio.title_2", { defaultValue: "Choose max 10 of them to show at your profile" }) %>
  </h5>
  <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="ideas contest viewport">
    <div class="overview">

    </div>
  </div>
</div>
