<!-- Start: Grid#content.contest 1 -->
<div class="grid_16 contest profile">
  <h6>
    <%= I18n.t("users.profile.ideas.title", { defaultValue: "My <span id='top_ideas_count'></span> best ideas" }) %>

    <% if (portfolio) { %>
      <a href="#" id="edit-portfolio"><%= I18n.t("users.profile.edit_portfolio.link", { defaultValue: "[Edit portfolio]" }) %></a>
    <% } %>
  </h6>
</div>
<div class="clear"></div>
<!-- End: Grid#contest.contest 1 -->

<div id="ideas_wrap"></div>
