<!-- Start: Grid#content.contest 2 -->
<div class="grid_10 contest profile">
  <h1><%= prefix %></h1>
  <h1><%= first_name %></h1>
  <h1><%= last_name %></h1>
  <p class="edit"></p>
  <ul class="social"></ul>
  <ul class="contacts">
    <li class="phone"><%= I18n.t("users.profile.phone", { defaultValue: "phone:" }) %> <strong><%= phone %></strong></li>
    <li class="email"><%= I18n.t("users.profile.email", { defaultValue: "e-mail:" }) %> <a href="mailto:<%= email %>"><%= email %></a></li>
  </ul>
</div>
<div class="grid_6 contest profile">
  <div class="photo"><img class="photo" src="<%= image_url %>" width="125" alt="<%= first_name %> <%= last_name %>" /></div>
  <div id="tag_wrap"></div>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 2 -->

<!-- Start: Grid#content.contest 1 -->
<div class="grid_16 contest profile">
  <p class="about"><span><%= I18n.t("users.profile.about_me", { defaultValue: "About me:" }) %></span> <%= about %></p>
</div>
<div class="clear"></div>
<!-- End: Grid#contest.contest 1 -->
