<form id="save-user-category-notifications" name="post">

  <div class="grid_16">
    <h1><%= I18n.t("users.profile.social_icon_email_form.title", { defaultValue: "I want to receive newsletter about<br /> these categories:" }) %></h1>
  </div>
  <div class="clear"></div>

  <div class="grid_16">
    <ol class="category_list">

      <div class="loading_scroll_small"></div>

    </ol>
  </div>

  <div class="grid_16">
    <p><%= I18n.t("users.profile.social_icon_email_form.news_sending_message", { defaultValue: "News will be sent to email that is entered in profile" }) %></p>
  </div>
  <div class="clear"></div>

  <div class="grid_8 push_4">
    <input type="submit" class="button_1 green" value="<%= I18n.t("users.profile.social_icon_email_form.submit", { defaultValue: "Choose »" }) %>" />
  </div>
  <div class="clear"></div>

</form>
