<!-- Start: Grid#content.contest 1 -->
<div class="grid_8 contest profile">
  <h6><%= I18n.t("users.profile.statistics.effectivity.title", { defaultValue: "Effectivity of my ideas" }) %></h6>
  <table id="idea_activity" class="leaderboard double" cellspacing="0">
    <thead>
      <tr>
        <td class="theme"><%= I18n.t("users.profile.statistics.category", { defaultValue: "Category" }) %></td>
        <td class="percent"><%= I18n.t("users.profile.statistics.percent", { defaultValue: "Percent" }) %></td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
<div class="grid_8 contest profile">
  <h6><%= I18n.t("users.profile.statistics.activity.title", { defaultValue: "My voting activity" }) %></h6>
  <table id="vote_activity" class="leaderboard double" cellspacing="0">
    <thead>
      <tr>
        <td class="theme"><%= I18n.t("users.profile.statistics.category", { defaultValue: "Category" }) %></td>
        <td class="percent"><%= I18n.t("users.profile.statistics.percent", { defaultValue: "Percent" }) %></td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
<div class="clear"></div>
<!-- End: Grid#contest.contest 1 -->

<!-- Start: Grid#content.contest 1 -->
<div class="grid_16 contest profile">
  <h6><%= I18n.t("users.profile.statistics.total.title", { defaultValue: "Total" }) %></h6>
  <table id="totals" class="leaderboard" cellspacing="0">
    <thead>
      <tr>
        <td class="user"><%= I18n.t("users.profile.statistics.total.category", { defaultValue: "Category" }) %></td>
        <td><%= I18n.t("users.profile.statistics.total.voting", { defaultValue: "Voting" }) %></td>
        <td><%= I18n.t("users.profile.statistics.total.ideas", { defaultValue: "Ideas" }) %></td>
        <td class="achievment"><%= I18n.t("users.profile.statistics.total.achievment", { defaultValue: "Achievement" }) %></td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
<div class="clear"></div>
<!-- End: Grid#contest.contest 1 -->
