<%= semantic_form_for resource, :url => invitation_path(resource_name), :html => { :class => "devise-form" } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>
  <%= f.inputs :name => I18n.t("devise.registrations.user_info") do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <% if f.object.edu_user? %>
      <%= f.input :user_type, as: :select, label: t("internal.user.user_type") , collection: user_types, include_blank: false %>
    <%end%>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :remember_me, :input_html => { :type => :checkbox } %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, label: t("internal.invitations.sign_in", default: "Sign in") %>
  <% end %>

<% end %>
