<!-- Start: Grid#content.contest 1 -->
<div class="grid_1 contest profile">
  <h6><%= order %>.</h6>
</div>
<div class="grid_15 contest profile">
  <div class="choice"><a href="/contests/<%= contest_id %>"><%= contest_title %></a> | <img data-idea="<%= id %>" src="<%= video_image %>" width="270" height="auto" alt="<%= video_image %>" /></div>
</div>
<% if (portfolio) { %>
  <div class="grid_2">
    <input type="checkbox" value="<%= id %>" <% if (is_portfolio_idea) { %>checked<% } %> />
  </div>
<% } %>
<div class="clear"></div>
<!-- End: Grid#contest.contest 1 -->
