<table class="leaderboard" cellspacing="0">
  <thead>
    <tr>
      <td class="topic"><%= I18n.t("statistics.contests.theme", { defaultValue: "Category" }) %></td>
      <td class="date"><%= I18n.t("statistics.contests.date", { defaultValue: "Date" }) %></td>
      <td class="participate"><%= I18n.t("statistics.contests.participate", { defaultValue: "I participate" }) %></td>
    </tr>
  </thead>
  <tbody class="live">

  </tbody>
  <tbody class="done">

  </tbody>
</table>
