<!-- Start: div#content.body_container_35 -->
<div id="content" class="body_container_35">

  <!-- Start: Grid#content 1 -->
  <div class="grid_1 contest">
    <a href="/contest/guest" class="toLeftStatistic">
      <div class="slide previous">
        <div class="tooltip">
          <div class="tooltip_wrap"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="grid_19 push_7 contest loading">

    <div id="contest_slider_wrap">

    </div>

  </div>

  <div class="grid_1 push_13 contest">
    <a href="/results" class="toRightStatistic">
      <div class="slide next">
        <div class="tooltip">
          <div class="tooltip_wrap"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content 1 -->

</div>
<!-- End: div#content.body_container_35 -->