<tbody><tr><td class="more" colspan="5"><a class="toggle_players" href="#leaderboard_<%= who %> tbody.all" data-close="<strong>mazāk</strong>" data-also="#leaderboard_<%= who %> tbody.more"><strong>vairāk</strong> (<%= show_more_count %>)</a></td></tr></tbody>