<div class="grid_16 contest">

  <div id="leaderboard_all">
    <table class="leaderboard" cellspacing="0">
      <thead>
        <tr>
          <td colspan="2" class="user"><%= I18n.t("statistics.players.players", { defaultValue: "Players" }) %></td>
          <td class="place"><%= I18n.t("statistics.players.place", { defaultValue: "Place" }) %></td>
          <td><%= I18n.t("statistics.players.voting", { defaultValue: "Voting" }) %></td>
          <td><%= I18n.t("statistics.players.ideas", { defaultValue: "Ideas" }) %></td>
          <td><%= I18n.t("statistics.players.sum", { defaultValue: "Sum" }) %></td>
        </tr>
      </thead>
     
      <tbody class="top">

      </tbody>

      <tbody class="all">

      </tbody>

      <tbody id="pagination" style="display: none;">
        <tr>
          <td colspan="5">
            <div id="smart-paginator"></div>
          </td>
        </tr>
      </tbody>
      
      <tbody class="more"></tbody>
    </table>
  </div>
  <!-- <div id="leaderboard_friends">
    <table class="leaderboard" cellspacing="0">
      <thead>
        <tr>
          <td class="user" colspan="2"><%= I18n.t("statistics.players.friends", { defaultValue: "Friends" }) %></td>
          <td class="place"><%= I18n.t("statistics.players.place", { defaultValue: "Place" }) %></td>
          <td><%= I18n.t("statistics.players.voting", { defaultValue: "Voting" }) %></td>
          <td><%= I18n.t("statistics.players.ideas", { defaultValue: "Ideas" }) %></td>
          <td><%= I18n.t("statistics.players.sum", { defaultValue: "Sum" }) %></td>
        </tr>
      </thead>
     
      <tbody class="top">

      </tbody>

      <tbody class="all">

      </tbody>
      
      <tbody class="more"></tbody>
    </table>
  </div> -->
</div>
<div class="clear"></div>
