<!-- Start: Grid#content.contest 5 -->
<div class="grid_12 contest">
  <div class="choice arrow">
    <span class="ribbon"></span>
    <img src="<%= video_image %>" width="270" height="auto" alt="<%= video_image %>" />
  </div>
</div>
<div class="grid_4 contest">
  <input type="button" class="button green brackets grid_4" name="vote" value="<%= I18n.t('contests.contest.ideas.idea.vote', { defaultValue: 'Vote'} ) %>" data-id="<%= id %>" />
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 5 -->
