<!-- Start: Grid#content.contest 5 -->
<div class="grid_12 contest">
  <div class="choice arrow">
    <span class="ribbon"></span>
    <%= text %>
  </div>
</div>
<div class="grid_4 contest vote-buttons">
  <input type="button" class="button green brackets grid_4 <%= show_spam_button ? 'small-vote' : '' %>" name="vote" value="<%= I18n.t('contests.contest.ideas.idea.vote', { defaultValue: 'Vote' }) %>" data-id="<%= id %>" />
  <% if ( show_spam_button ) { %>
    <input type="button" class="button brackets grid_4 report-spam" title="<%= I18n.t('contests.contest.ideas.idea.spam_button', {defaultValue: 'Spam button. Send message to moderator about inappropriate or very poor idea. Idea will be removed from contest if moderator approves the fact.'}) %>" name="report-spam" data-id="<%= id %>" />
  <% } %>
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 5 -->
