<!-- Start: Grid#content.contest 5 -->
<div class="grid_12 contest">
  <div class="choice choice-image arrow">
    <span class="ribbon"></span>
    <img width="232px" src="<%= text %>" />
  </div>
</div>
<div class="grid_4 contest">
  <input type="button" class="button green brackets grid_4" name="vote" value="<%= I18n.t('contests.contest.ideas.idea.vote', {defaultValue: 'Vote'} ) %>" data-id="<%= id %>" />
</div>
<div class="clear"></div>
<!-- End: Grid#content.contest 5 -->
