<form id="new-idea" name="post" >
  <!-- Start: Grid#content.contest 8 -->
  <div class="grid_16 contest">
    <p class="heading"><%= I18n.t("contests.contest.ideas.new.above_text_image", { defaultValue: "Post picture &mdash; <strong>Earn points!</strong>" }) %></p>
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content.contest 8 -->

  <div id="form_error_place"></div>

  <!-- Start: Grid#content.contest 9 -->
  <div class="grid_2 user">
    <div class="user">
      <div class="photo"></div>
    </div>
  </div>
  <div class="grid_10 contest">  
    <div class="idea">
      <input type="file" name="image" id="image" />
      <div class="form_status"><span id="form_error"></span></div>
    </div>
  </div>
  <div class="grid_4 contest actions">
    <input type="submit" class="grid_4 button orange brackets" value="<%= I18n.t("contests.contest.ideas.new.submit", { defaultValue: "Submit" }) %>" />
  </div>
  <div class="clear"></div>
  <!-- End: Grid#content.contest 9 -->
</form>
