<!DOCTYPE html>

<html>
  <head>
    <title>Ideju Akadēmija</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "devise_views" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta content="<%= request.session_options[:id] %>" name="session-param">
  </head>

  <body>
    <h1><%= Rails.env %></h1>
    <%= yield %>

    <% if false #AppUtils.facebook_env? -%>
      <div id="fb-root"></div>
      <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
      <script type="text/javascript" charset="utf-8">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : "<%= FACEBOOK_CONF["client"] %>"
          });
          FB.Canvas.setAutoGrow();
        }
      </script>
    <% end -%>

  </body>
</html>
