<!DOCTYPE html>

<html>
  <head>
    <title>Ideju Akadēmija</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "devise" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= yield %>

  </body>
</html>
