!!! 5
%html
  %head
    %title Academy of Ideas
    %meta{:lang => "en"}
    = stylesheet_link_tag "devise_views"
    = stylesheet_link_tag "internal"
    %link{:href => 'http://fonts.googleapis.com/css?family=Crete+Round&subset=latin,latin-ext', :rel => 'stylesheet', :type => 'text/css'}
    = javascript_include_tag "internal"
    = csrf_meta_tags
  %body
    %header#header
      .wrap
        = link_to image_tag("internal/logo.png"), root_path, :class => "logo"
        .divider.first
        .divider.second
        = image_tag "internal/brainstorming_platform.png", :alt => "Brainstorming platform", :class => "slogan"
        = render "sessions/new"
        =# content_tag(:div, flash[:error], :id => "flash_error") if flash[:error]
        =# content_tag(:div, flash[:success], :id => "flash_success") if flash[:success]
        = content_tag(:div, flash[:alert], :id => "flash-alert") if flash[:alert] && !flash[:alert].blank?
        .clear
    %nav#top-menu
      .inner
        .wrap
          .lang
            - ["en", "lv", "de"].each do |locale|
              = link_to locale, "#{request.url}?lang=#{locale}", :class => "#{'active' if locale == I18n.locale.to_s}"
        - InternalController::MENU_ACTIONS.each do |action|
          = link_to t("internal.top_menu.#{action}", default: action.capitalize), send(:"#{action}_internal_path"), :class => "#{is_active?(action)}"
    #content
      / #latest-activities
      /   %h1= t "internal.latest_activities.title", default: "What's going on<br>right now?"
      /   %ul
      /     - 7.times do
      /       %li{:class => cycle("odd", "even")}
      /         %strong Lattelecom
      /         = t "internal.latest_activites.launched_new_task", default: "launched a new task"
      /   = link_to image_tag("internal/latest_activities_close.png"), "", :class => "close"
      .wrap
        = yield
    %footer#footer
      = t "internal.footer.copyright", default: "All rights reserved. SIA Ludere 2012"







