<!DOCTYPE html>
<html>
  <head>
    <title>Ideju Akadēmija - Main</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "facebook" if AppUtils.facebook_env? %>
    <%= javascript_include_tag "i18n" %>
    <%#= javascript_include_tag "https://s3-eu-west-1.amazonaws.com/ludere-copycopter/idea_academy/translations_#{AppUtils.production_env? ? "published" : "draft"}.js" %>
    <%= javascript_include_tag "main" %>
    <%= csrf_meta_tags %>
    <%- session_key = Rails.application.config.session_options[:key] -%>
    <meta content="<%= session_key %>" name="session-param">
    <meta content="<%= cookies[session_key] %>" name="session-token" >

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17407493-30']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale        = "<%= I18n.locale %>";
    </script>
  </head>
  <body id="<%= body_id %>">
    <% if AppUtils.facebook_env? %>
      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
        FB.init({
          appId: "<%= FACEBOOK_CONF[:client] %>",
          cookie: true,
          xfbml: true
        });
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
