Hi!
<p>You are invited you to join brainstorming platform for <%= @resource.organizations.first.name %> to share your creativity and knowledge. 
Please, got to the link and accept invitation. </p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>
<p>Upon accepting it, you will be directed to the platform. Your username is your email address. </p>
<p>
If you don't want to accept the invitation, please ignore this email.
</p>
<p>
Your account won't be created until you access the link above and create your profile.
</p>
Sincerely,
<br/>
Team of Academy of Ideas
